

.ait-options-controls .ait-opt-section-title { border-bottom: 1px solid #ddd; margin: 25px 0 10px 0; }
.ait-opt-section-help { color: #888; font-style: italic; padding: 1em; }
.ait-opt-select select, .ait-opt-categories select, .ait-opt-js-animations select { width: 180px; }


.ait-options-section										{ padding: 0px 20px 20px 20px; }
.ait-options-section.ait-sec-title:first-child				{ margin-top: -31px; }
.advanced-options-disabled .ait-options-section 			{ opacity: 0.5; }
.ait-options-section .ait-options-section-title				{ background: #F5F5F5; border-top: 1px solid #dfdfdf; box-shadow: 0 1px 0 rgba(255, 255, 255, 1) inset; color: #959595; font-size: 16px !important; line-height: 34px !important; font-weight: normal !important; margin: 0 -19px 20px -19px !important; padding: 5px 19px 5px 19px !important; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1); }
.ait-options-section .ait-options-section-help				{ font-style: italic; color: #888888; padding: 0px 0px 20px 0px; line-height: 18px; }
.postbox .ait-options-section .ait-options-section-title	{ margin-left: -31px !important; margin-right: -31px !important; padding-left: 31px !important; padding-right: 31px !important;}

.ait-opt-container						{ display: table; width: 100%; margin-bottom: 14px; }
.ait-opt-container .ait-opt-wrap		{ display: table-row; }
.ait-opt-container .ait-opt-label		{ display: table-cell; float: none; vertical-align: top; width: 22%;}
.ait-opt-container .ait-opt-label .ait-label { font-weight: bold;  }
.ait-opt-container .ait-label-wrapper	{ position: relative; padding: 5px 40px 6px 0px; line-height: 18px; z-index: 10; }
.ait-opt-container .ait-label-icon				{ display: block; width: 30px; height: 20px; position: absolute; top: 5px; right: 5px; background: url('../img/label-help.png') no-repeat center top; }
.ait-opt-container .ait-label-icon .help		{ visibility: hidden; display: block; opacity: 0; min-width: 180px; background: #FFFFE1; border: 1px solid #cccccc; border-radius: 3px; padding: 6px 6px 4px 6px; position: absolute; left: 0px; bottom: 19px; box-shadow: 2px 2px 2px rgba(0,0,0,0.1); transition: opacity 0.5s;}
.ait-opt-container .ait-label-icon code			{ display: inline-block; white-space: nowrap; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; margin: 0px 0px 2px 0px; background: #F2F2D6; font-size: 12px; }
.ait-opt-container .ait-label-icon:hover		{ background-position: center bottom; }
.ait-opt-container .ait-label-icon:hover .help	{ visibility: visible; opacity: 1; }
.ait-opt-container .ait-opt					    { display: table-cell; }
.ait-opt-container .ait-opt-help			             	{ display: table-cell; vertical-align: top; width: 45%; }
.ait-opt-container .ait-help				             	{ font-style: italic; color: #888888; padding: 5px 0px 6px 0px; line-height: 18px; }
.ait-opt-container .ait-opt-help .ait-help	             	{ padding-left: 20px; }
.ait-opt-container .ait-opt-required					{ padding: 5px 0px 6px 42px; line-height: 18px; }
.ait-opt-container .ait-opt-required:after				{ content: "."; display: block; height: 0; overflow:hidden; clear: both; visibility: hidden; }
.ait-opt-container .ait-opt-required span				{ position: relative; display: inline-block; line-height: 18px; font-style: italic; color: #888888; vertical-align: top; }
.ait-opt-container .ait-opt-required span:before		{ content: ""; display: inline-block; width: 18px; height: 18px; background: url('../img/header_icons.png') -321px -1px no-repeat; vertical-align: top; position: absolute; left: -23px; top: 0px; }
.ait-opt-container .ait-opt-required .ait-help			{ display: inline; padding: 0px; }
.ait-opt-container .ait-opt-required .ait-help:before	{ content: " : "; }
.ait-opt-container .ait-opt-help .ait-opt-categories-add { padding: 5px 0px 6px 20px; line-height: 18px; }
.ait-opt-container .ait-unit					{ display: inline-block; width:auto; height: 24px; line-height: 24px; color: #959595; font-weight: bold; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75); }
.ait-opt-container .ait-unit.ait-value			{ position: static; vertical-align: top; line-height: 22px; padding: 0px 5px; width: 25%; border: 1px solid #cccccc; border-radius: 3px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; overflow: hidden; }
.ait-opt-container .ait-unit.ait-number-unit	{ margin-left: 3px; }

.ait-opt-container .ait-opt-wrapper								{ background: #e2e2e2; padding: 3px; border-radius: 4px; display:block; line-height: 24px; position: relative; }
.ait-opt-container .ait-opt-wrapper.ait-langs-enabled			{ padding-left: 29px; margin-bottom: 1px; }
.ait-opt-container .ait-opt-wrapper.ait-langs-enabled .flag img	{ position: absolute; top: 11px; left: 6px; }
.ait-opt-container input[type="text"],
.ait-opt-container input[type="number"],
.ait-opt-container input[type="url"],
.ait-opt-container input[type="button"],
.ait-opt-container textarea,
.ait-opt-container select,
.ait-options-mainmenu .ait-add-button input			{ border: 1px solid #cccccc; background: #ffffff; color: #333333; margin: 0px; min-height: 24px; padding: 0px 3px; border-radius: 3px; vertical-align: top; }
.ait-opt-container input[type="text"]:focus,
.ait-opt-container input[type="number"]:focus,
.ait-opt-container input[type="url"]:focus,
.ait-opt-container input[type="button"]:focus,
.ait-opt-container textarea:focus,
.ait-opt-container select:focus,
.ait-options-mainmenu .ait-add-button input:focus	{ border-color: #AAAAAA; box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); }
.ait-opt-container .ait-opt-text input,
.ait-opt-container .ait-opt-string input,
.ait-opt-container .ait-opt-url input,
.ait-opt-container .ait-opt-date input,
.ait-opt-container input.full-width,
.ait-opt-container textarea						{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; padding: 3px; }
.ait-opt-container select						{ padding: 2px; width: 100%; }
.ait-opt-container textarea						{ line-height: 20px; }
.ait-opt-btn,
.ait-opt-container input[type="button"],
.ait-options-mainmenu .ait-add-button input,
.ait-opt-container .ui-datepicker-trigger			{ padding: 1px 10px; background: url('../img/button-style.png') repeat-x top center #9DB1B9; border-width: 0px; color: #ffffff; font-weight: bold; box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.15) inset; text-shadow: -1px -1px 0px rgba(0,0,0,0.15); cursor: pointer; }
.ait-opt-container input[type="button"]:hover,
.ait-options-mainmenu .ait-add-button input:hover	{ background-color: #7F969F; }

.ait-opt-container .ait-opt-tools 				{ display: table; width: 100%; }
.ait-opt-container .ait-opt-tools-row			{ display: table-row; }
.ait-opt-container .ait-opt-tools-cell1			{ display: table-cell; width: 44.4%; padding-right: 2%; vertical-align: top; }
.ait-opt-container .ait-opt-tools-cell2			{ display: table-cell; vertical-align: top; }
.ait-opt-container .ait-opt-tools-cell1 label					{ display: inline-block; width:35%; height: 24px; vertical-align: top; line-height: 24px; color: #959595; font-weight: bold; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding-left: 5px; }
.ait-opt-container .ait-opt-tools-cell1 .ait-control-wrapper	{ display: inline-block; width:65%; }

.ait-opt-container.ait-opt-advanced-options-enabler-main 		{ display: table; width: 100%; margin: 0px 1px 30px 1px; padding: 0px 19px 10px 19px; border-bottom: 1px solid #DFDFDF; box-shadow: 0 -1px 0 rgba(255,255,255,1) inset; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* City Guide Item & Page Builder Map */

.ait-opt-maps-tools .ait-opt-tools-row > div 												{ display: block !important; width: 100% !important; }
.ait-opt-maps-tools .ait-opt-tools-cell1 													{ padding: 20px 20px 10px 20px; border-bottom: 1px solid rgba(0,0,0,0.05);
																							-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.ait-opt-maps-tools .ait-opt-tools-cell1:after 												{content: ""; display: block; height: 0; overflow: hidden; clear: both; visibility: hidden; }
.ait-opt-maps-tools .ait-opt-tools-cell1 .ait-opt-maps-item 								{ margin-bottom: 10px; }
.ait-opt-maps-tools .ait-opt-maps-item 														{ float: left; width: auto !important; }
.ait-opt-maps-tools .ait-opt-tools-cell1 label 												{ width: auto !important; margin-right: 10px; }
.ait-opt-maps-tools .ait-opt-tools-cell1 .ait-control-wrapper 								{ width: auto !important; margin-right: 20px; }
.ait-opt-maps-tools .ait-opt-tools-cell1 .ait-opt-maps-item:last-child .ait-control-wrapper { margin-right: 0; }
.ait-opt-maps-tools .ait-control-wrapper input[type=button] 								{ margin-left: 5px; }
.ait-opt-maps-tools .ait-opt-maps-wrap,
.ait-opt-maps-tools .ait-opt-maps-preview 													{ width: 100% !important; height: 300px !important; }
.ait-opt-maps-tools .ait-opt-maps-preview													{ transform: none !important; }

/* end of City Guide Item & Page Builder Map */


/* Color picker */

.ait-colorpicker 								{ padding: 0px 20px 0px 26px; position: relative; }
.ait-colorpicker .ait-unit						{ position: absolute; top: 0px; right: 6px; }
.ait-colorpicker .ait-colorpicker-preview				{ position: absolute; top: 0px; left: 0px; display: inline-block; width: 18px; height: 18px; border: 1px solid #cccccc; padding: 2px; background: url('../img/color-pattern.png') no-repeat center center #ffffff; vertical-align: top; }
.ait-colorpicker .ait-colorpicker-preview i 			{ display: inline-block; width: 18px; height: 18px; line-height: 18px; font-size: 0; vertical-align: top;  }
.ait-colorpicker .ait-colorpicker-color			{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 70%; }
.ait-colorpicker .ait-colorpicker-opacity		{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 25%; }


/* Background */

.ait-opt-background-main .ait-opt-wrapper				{ padding: 0px; background: none; }
.ait-opt-background-main .ait-opt-bg-item				{ background: #e2e2e2; padding: 3px; margin-bottom: 14px; border-radius: 4px; display:block; line-height: 24px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.ait-opt-background-main .ait-opt-bg-color				{ float: left; width: 42.4%; }
.ait-opt-background-main .ait-opt-bgcolorpicker:after				{ content: "."; display: block; height: 0; overflow:hidden; clear: both; visibility: hidden; }
.ait-opt-background-main .ait-opt-bgcolorpicker .ait-opt-required	{ width: 57.6%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; float: left; margin-bottom: 14px; }
.ait-opt-background-main .ait-opt-bg-color label		{ display: none; }
.ait-opt-background-main .ait-opt-bg-image label		{ display: none; }
.ait-opt-background-main .ait-opt-bg-repeat				{ margin-bottom: 1px; }
.ait-opt-background-main .ait-opt-bg-position			{ margin-bottom: 1px;}
.ait-opt-background-main .ait-opt-bg-scroll				{ margin-bottom: 6px;}
.ait-opt-background-main .ait-opt-bg-wrap				{ margin-bottom: 6px; }
.ait-opt-background-main .ait-opt-bg-screen				{ border: 1px solid #cccccc; background: url('../img/bg-pattern.png') #ffffff; }
.ait-opt-background-main .ait-opt-bg-preview			{ border: 2px solid #ffffff; height: 80px; }

/*** image ***/

.ait-opt-image-main .ait-opt-wrapper,
.ait-opt-background-main .ait-opt-bg-image 						{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; padding: 3px 126px 3px 3px; position: relative; }
.ait-opt-image-main input[type="text"],
.ait-opt-background-main .ait-opt-bg-image input[type="text"]	{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; }
.ait-opt-image-main input[type="button"],
.ait-opt-background-main .ait-opt-bg-image input[type="button"]	{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; width: 120px; position: absolute; top: 3px; right: 3px; }
.ait-shortcode-tabs-panel .ait-opt-image-main .ait-opt-wrapper 	{ padding: 3px; }

/*** editor ***/

.ait-opt-editor-main .ait-help,
.ait-opt-multiline-code-main .ait-help		{ padding-right: 15px; }
.ait-opt-editor .ait-opt-wrapper			{ display: block; }
.ait-opt-editor .wp-editor-container 		{ background: #ffffff; border-color: #cccccc;  }
.wp_themeSkin tr.mceFirst td.mceToolbar		{ border-radius: 2px 2px 0px 0px; }

.ait-opt-container .ait-opt-editor .quicktags-toolbar	{ padding-top: 5px; }
.ait-opt-container .ait-opt-editor textarea				{ border: none; border-radius: 0px; }
.ait-opt-container .ait-opt-editor input[type="button"]	{ vertical-align: top; margin-right: 4px; }


/*** check & radio ***/

.ait-opt-checkbox-main .ait-opt-wrapper,
.ait-opt-radio-main .ait-opt-wrapper		{ padding: 0px; background: none; }
.ait-opt-checkbox-main label,
.ait-opt-radio-main label					{ background: #e2e2e2; padding: 3px 3px 3px 8px; border-radius: 4px; display:block; line-height: 24px; margin-bottom: 1px; text-shadow: 1px 1px 0px rgba(255,255,255,0.75); }
.ait-opt-checkbox-main label input,
.ait-opt-radio-main label input				{ vertical-align: middle; margin-right: 5px; }

/*** image radio ***/

.ait-opt-image-radio .ait-opt-wrapper		{ padding: 0px 0px 0px 0px; text-align: left; background: none; }
.ait-opt-image-radio label					{ display: inline-block; background: #e2e2e2; border: 1px solid #e2e2e2; vertical-align: top; margin-right: 0px; margin-bottom: 3px; position: relative; padding: 3px; border-radius: 3px; transition: background 0.5s, border-color 0.5s;}
.ait-opt-image-radio label:hover			{ background: #eaeaea; border: 1px solid #CCCCCC;  box-shadow: 0 50px 30px -40px rgba(255, 255, 255, 0.1) inset, 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(0, 0, 0, 0.05) inset; z-index: 10; }
.ait-opt-image-radio input					{ display: none; }
.ait-opt-image-radio label img					{ display: block; opacity: 0.3; vertical-align: top; max-width: 100%; margin: 0px auto; }
.ait-opt-image-radio label:hover img			{ opacity: 1; }
.ait-opt-image-radio label.selected-option img	{ opacity: 1; }
.ait-opt-image-radio .input-title				{ visibility: hidden; display: block; opacity: 0; background: #FFFFE1; border: 1px solid #cccccc; border-radius: 3px; position: absolute; bottom: -15px; left: 10px; white-space: nowrap; font-size: 11px; line-height: 20px; font-weight: bold; padding: 0px 10px; box-shadow: 2px 2px 2px rgba(0,0,0,0.1); transition: opacity 0.5s; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: center; }
.ait-opt-image-radio label:hover .input-title	{ visibility: visible; opacity: 1; }
.ait-opt-image-radio label.image-missing img							{ display: none; }
.ait-opt-image-radio label.image-missing .input-title					{ visibility: visible; opacity: 0.4; background: none; border-width: 0px; white-space: normal; position: static; box-shadow: none;}
.ait-opt-image-radio label.image-missing:hover .input-title				{ opacity: 1; }
.ait-opt-image-radio label.selected-option.image-missing .input-title	{ opacity: 1; }

/*** image radio-full ***/

.ait-opt-image-radio-full .ait-opt-wrapper		{ padding: 0px 0px 0px 0px; text-align: left; background: none; }
.ait-opt-image-radio-full label					{ display: block; background: #e2e2e2; border: 1px solid #e2e2e2; vertical-align: top; margin-right: 0px; margin-bottom: 3px; position: relative; padding: 3px; border-radius: 3px; transition: background 0.5s, border-color 0.5s;}
.ait-opt-image-radio-full label:hover			{ background: #eaeaea; border: 1px solid #CCCCCC;  box-shadow: 0 50px 30px -40px rgba(255, 255, 255, 0.1) inset, 1px 1px 2px rgba(0, 0, 0, 0.1), 0px 0px 10px rgba(0, 0, 0, 0.05) inset; z-index: 10; }
.ait-opt-image-radio-full input					{ display: none; }
.ait-opt-image-radio-full label img					{ display: block; opacity: 0.3; vertical-align: top; max-width: 100%; margin: 0px auto; width: 100%; }
.ait-opt-image-radio-full label:hover img			{ opacity: 1; }
.ait-opt-image-radio-full label.selected-option img	{ opacity: 1; }
.ait-opt-image-radio-full .input-title				{ visibility: hidden; display: block; opacity: 0; background: #FFFFE1; border: 1px solid #cccccc; border-radius: 3px; position: absolute; top: -3px; right: 10px; white-space: nowrap; font-size: 11px; line-height: 20px; font-weight: bold; padding: 0px 10px; box-shadow: 2px 2px 2px rgba(0,0,0,0.1); transition: opacity 0.5s; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: center; }
.ait-opt-image-radio-full label:hover .input-title	{ visibility: visible; opacity: 1; }
.ait-opt-image-radio-full label.image-missing img							{ display: none; }
.ait-opt-image-radio-full label.image-missing .input-title					{ visibility: visible; opacity: 0.4; background: none; border-width: 0px; white-space: normal; position: static; box-shadow: none;}
.ait-opt-image-radio-full label.image-missing:hover .input-title			{ opacity: 1; }
.ait-opt-image-radio-full label.selected-option.image-missing .input-title	{ opacity: 1; }

/*** JS select ***/

.ait-opt-wrapper.chosen-wrapper { padding-right: 30px; }

.ait-opt-container .chosen-container									{ width: 100% !important; vertical-align: top; padding: 0px 0px 0px 0px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.ait-opt-container a.chosen-single									{ border: 1px solid #CCCCCC; border-radius: 3px; height: 22px; line-height: 22px; padding: 0 4px; background: #ffffff; box-shadow: none; overflow: visible; }
.ait-opt-container .chosen-container-active a.chosen-single				{ border: 1px solid #AAAAAA; box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); }
.ait-opt-container .chosen-container-single .chosen-single span			{ margin-right: 0px; font-size: 12px; }
.ait-opt-container .chosen-container-single .chosen-single div						{ width: 22px; height: 24px; top: -1px; right: -25px; padding-left: 2px; }
.ait-opt-container .chosen-container-single .chosen-single div b					{ background: url('../img/select_arrows.png') top left no-repeat; }
.ait-opt-container .chosen-container-single:hover .chosen-single div b				{ background-position: bottom left; }
.ait-opt-container .chosen-container-active .chosen-single-with-drop div b			{ background-position: top right; }
.ait-opt-container .chosen-container-active:hover .chosen-single-with-drop div b	{ background-position: bottom right; }
.ait-opt-container .chosen-container .chosen-drop									{ width: 100% !important; top: auto !important; margin-top: 1px; border: 1px solid #CCCCCC; border-radius: 3px; top: 34px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.ait-opt-container .chosen-container-single .chosen-search							{ padding: 4px; }
.ait-opt-container .chosen-container-single .chosen-search input					{ width: 100% !important; margin: 0px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
.ait-opt-container .chosen-container .chosen-results li								{ line-height: 16px; font-size: 12px; }
.ait-opt-container .chosen-container .chosen-results .highlighted					{ background: #7F969F; text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15); }

.ait-opt-container .chosen-container-multi .chosen-choices							{ border: 1px solid #CCCCCC; background: #ffffff; line-height: 22px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; border-radius: 3px; padding-right: 2px; overflow: visible; position: relative; }
.ait-opt-container .chosen-container-active .chosen-choices							{ border: 1px solid #AAAAAA; box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); }
.ait-opt-container .chosen-container-multi .chosen-choices:after					{ content: " "; display: block; width: 26px; height: 24px; background: url('../img/select_arrows.png') -34px top no-repeat; position: absolute; top: -1px; right: -26px; }
.ait-opt-container .chosen-container-multi:hover .chosen-choices:after				{ background-position: -34px bottom; }
.ait-opt-container .chosen-container-multi .chosen-choices li						{ float: none; display: inline-block; }
.ait-opt-container .chosen-container-multi .chosen-choices .search-choice			{ line-height: 15px; border-width: 0px; font-size: 12px; margin: 2px 0px 2px 2px; padding: 3px 22px 3px 6px; color: #ffffff; font-weight: bold; background: url('../img/button-style.png') repeat-x center top #9DB1B9; box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset; text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15); }
.ait-opt-container .chosen-container-multi .chosen-choices .search-field 			{ line-height: 21px; margin: 0px 0px 0px 0px; }
.ait-opt-container .chosen-container-multi .chosen-choices .search-choice-close		{ top: 0px; right: 4px; width: 12px; height: 20px; background: url('../img/select_arrows.png') -22px -2px no-repeat; }
.ait-opt-container .chosen-container-multi .chosen-choices .search-choice-close:hover	{ background-position: -22px -26px; }
.ait-opt-container .chosen-container-multi .chosen-choices .search-field input			{ height: 21px; min-height: 0px; margin: 0px; padding: 0px 5px; }
.ait-opt-container .chosen-container-multi .chosen-results								{ margin: 0px; padding: 4px; }


/*** Code ***/

.ait-opt-code input 				{ width: 100%; }
.ait-opt-code input,
.ait-opt-multiline-code textarea,
.ait-opt-custom-css textarea		{ font-family: Consolas, 'Courier New', monospace; }


/*** Range Input ***/

.ait-opt-range-main .ait-opt-wrapper 	{ padding: 3px 40px 3px 8px;}
.ait-opt-range-main .slider 			{ width: 70%; height: 8px; display: inline-block; vertical-align: top; position: relative; left: 7px; background: #FFFFFF; border: 1px solid #CCCCCC; border-radius: 3px; box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1) inset; clear: right; cursor: pointer; margin-top: 8px; position: relative; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.ait-opt-range-main .handle 			{ width: 20px; height: 20px; background: url('../img/select_arrows.png') -105px center no-repeat #FFFFFF; border-radius: 100%; cursor: move; display: block; margin-left: -1px; margin-top: 0; position: absolute; top: -7px; box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5) inset, 0 1px 1px 1px rgba(0, 0, 0, 0.3); }
.ait-opt-range-main .progress 			{ height: 6px; background-color: #C5FF00; display: none; opacity:0.6; } /* progress bar (enabled with progress: true) */
.ait-opt-range-main .range 				{ width: 25%; position: relative; left: 21px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.ait-opt-range-main .ait-unit			{ position: absolute; top: 3px; right: 9px; }


/*** Switch Input ***/

.ait-opt-on-off .ait-opt-wrapper	{ display: inline-block; vertical-align: top; border-radius: 15px; }
.ait-opt-on-off .ui-switch			{ border: 1px solid #cccccc; border-radius: 12px; display: inline-block; vertical-align: top; font-family: arial; }
.ait-opt-on-off .ui-switch-mask		{ border-radius: 11px; height: 22px; margin: 0px; position: absolute; top: 0px; left: 0px; right: 0px; overflow: hidden; }
.ait-opt-on-off .ui-switch-master	{ height: 22px; margin-left: -1px; }
.ait-opt-on-off .ui-switch-middle	{ height: 22px; width: 71px !important; margin: 0px; border: none; z-index: 0; }
.ait-opt-on-off .ui-switch-upper	{ margin: 0px; z-index: 10; }
.ait-opt-on-off .ui-switch-handle  	{ width: 20px; height: 20px; background: url('../img/select_arrows.png') -105px center no-repeat #FFFFFF; border-radius: 100%; display: block; box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5) inset, 0 1px 1px 1px rgba(0, 0, 0, 0.3); position: absolute; top: 1px; left: 53px !important;}
.ait-opt-on-off .ui-switch-lower	{ height: 22px; margin: 0px; z-index: 0; }
.ait-opt-on-off .ui-switch-on,
.ait-opt-on-off .ui-switch-off		{ width: 30px !important; border: none; line-height: 21px; padding: 1px 16px 0px 16px; text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.15); }
.ait-opt-on-off .ui-switch-on		{ padding-right: 17px; background: #9DB1B9; box-shadow: 3px 2px 3px rgba(0, 0, 0, 0.2) inset; }
.ait-opt-on-off .ui-switch-off		{ padding-left: 17px; background: #cc0000; box-shadow: -3px 2px 3px rgba(0, 0, 0, 0.3) inset; }


/*** Number input ***/

.ait-opt-number-main .ait-opt-wrapper input		{ width: 55%; }


/* Stepper */

.stepper								{ width: 55%; position: relative; display: inline-block; }
.stepper .stepper-input					{ width: 100% !important; padding-right: 25px; }
.stepper .stepper-step 					{ width: 20px; height: 11px; background: url('../img/select_arrows.png') no-repeat #eeeeee; cursor: pointer; display: block; position: absolute; right: 1px; text-indent: -9999px; z-index: 50; }
.stepper .stepper-step:hover 			{ background-color: #F9F9F9; }
.stepper .stepper-step.up 				{ background-position: -80px top; top: 1px; box-shadow: 0px -1px 0px rgba(0,0,0,0.05) inset; border-radius: 0px 2px 0px 0px; }
.stepper .stepper-step.down 			{ background-position: -80px bottom; bottom: 1px; box-shadow: 0px 1px 0px rgba(255,255,255,1) inset; border-radius: 0px 0px 2px 0px;}
.stepper .stepper-step.up:hover 		{ background-position: -60px top; }
.stepper .stepper-step.down:hover		{ background-position: -60px bottom; }
.stepper.disabled .stepper-input		{ color: #cccccc; }
.stepper.disabled .stepper-step,
.stepper.disabled .stepper-step:hover 	{ background: #F9F9F9; cursor: default; }
.stepper.disabled .stepper-step.up 		{ }
.stepper.disabled .stepper-step.down 	{ }


/*** Date input ***/

.ait-opt-date-main .ait-opt-wrapper				{ padding-right: 30px; }

.ait-opt-date-main .ui-datepicker-trigger		{ height: 24px; width: 24px; margin: 0px; border-radius: 3px; background: url('../img/but-calendar.png') no-repeat top center #9DB1B9; position: absolute; top: 3px; right: 3px; }
.ait-opt-date-main .ui-datepicker-trigger img	{ display: none; }

.ui-datepicker									{ padding: 4px 3px 3px 3px; font-size: 12px; border: 1px solid #cccccc; box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15); }
.ui-datepicker .ui-widget-header				{ margin: 0px 1px; padding: 3px 0px; border-radius: 3px; border: 1px solid #bbbbbb; }
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year			{ width: 69px; }
.ui-datepicker .ui-datepicker-title select			{ border: 1px solid #bbbbbb; font-family: arial; font-size: 12px; height: 24px; margin: 0 1px; vertical-align: top; }
.ui-datepicker .ui-datepicker-title select:focus	{ border: 1px solid #aaaaaa; box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1); }
.ui-datepicker table								{ font-family: arial; font-size: 12px; line-height: 16px; margin: 0px; }
.ui-datepicker .ui-datepicker-prev					{ width: 24px; height: 24px; top: 3px; left: 3px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; cursor: pointer; }
.ui-datepicker .ui-datepicker-next					{ width: 24px; height: 24px; top: 3px; right: 3px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; cursor: pointer; }


/*** Clone Items ***/

.ait-opt-clone-main														{ display: block; }
.ait-opt-clone-main	> .ait-opt-wrap										{ display: block; }
.ait-opt-clone-main	> .ait-opt-wrap > .ait-opt-label					{ display: block; width: 100%; margin-bottom: 10px; }
.ait-opt-clone-main	> .ait-opt-wrap > .ait-opt-label:after				{ content: "."; display: block; height: 0; overflow:hidden; clear: both; visibility: hidden; }
.ait-opt-clone-main	> .ait-opt-wrap > .ait-opt-label .ait-label-wrapper	{ width: 22%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; float: left; }
.ait-opt-clone-main	> .ait-opt-wrap > .ait-opt-label .ait-help			{ width: 78%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; float: left; }
.ait-opt-clone-main	> .ait-opt-wrap > .ait-opt-clone					{ display: block; }
.ait-opt-clone-main .ait-clone-item,
.ait-opt-clone-main .ait-clone-template,
.ait-opt-clone-main .ait-clone-tools,
.ait-opt-clone-main .ait-clone-noforms	 								{ background: #F5F5F5; border: 1px solid #DFDFDF; border-radius: 4px; box-shadow: 0 0 0 1px rgba(255,255,255,0.7) inset; margin-bottom: 14px; padding: 0px; position: relative; }
.ait-opt-clone-main .ait-clone-item										{ min-height: 38px; }
.ait-opt-clone-main .ait-clone-template 								{ background: #EEF2F4; }
.ait-opt-clone-main .ait-clone-tools,
.ait-opt-clone-main .ait-clone-noforms									{ padding: 10px; box-shadow: 0 0 0 1px rgba(255,255,255,0.7) inset; }
.ait-opt-clone-main .ait-clone-tools:after								{ content: "."; display: block; height: 0; overflow:hidden; clear: both; visibility: hidden; }
.ait-opt-clone-main.hidden-tools .ait-clone-tools,
.ait-opt-clone-main.hidden-tools .ait-clone-remove-current				{ display: none !important; }
.ait-opt-clone-main .ait-clone-item .ait-opt-label,
.ait-opt-clone-main .ait-clone-template  .ait-opt-label					{ width: 21%; }
.ait-opt-clone-main .ait-clone-item .ait-clone-remove-current,
.ait-opt-clone-main .ait-clone-template .ait-clone-remove-current		{ background: url('../img/header_icons.png') -128px -32px no-repeat; display: block; width: 32px; height: 32px; font-size: 0px; line-height: 0px; text-indent: -9999px; outline: none; text-decoration: none; position: absolute; top: 4px; right: 4px; }
.ait-opt-clone-main  .ait-clone-tools .ait-clone-add					{ float: left; }
.ait-opt-clone-main  .ait-clone-tools .ait-clone-remove-all				{ float: right; }
.ait-opt-clone-main  .ait-clone-tools .ait-clone-control-link			{ padding-left: 5px; padding-right: 5px; }
.ait-opt-clone-main .form-input-handler                                 { background-color: #dfdfdf; box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7), 0 -1px 0 rgba(0, 0, 0, 0.05) inset; padding: 10px; position: relative; cursor: move; }
.ait-opt-clone-main .form-input-handler:before							{ background: url('../img/header_icons.png') -372px 0px no-repeat; content: " "; display: block; width: 32px; height: 32px; position: absolute; top: 2px; left: 5px; }
.ait-opt-clone-main .form-input-title                                   { font-weight: bold; padding-left: 32px; }
.ait-opt-clone-main .form-input-content									{ padding: 20px 10px 10px 10px;}

/*** Columns Element ****/

.ait-grid { width: 100%; }

.ait-grid-row 							{ display: block; width: 100%;}
.ait-grid-row .ait-table-content		{ display: table; table-layout: fixed; background-color: #e2e2e2; padding: 1px; border-spacing: 2px; width: 100%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; border-radius: 0px 4px 4px 4px; }
.ait-grid-row .ait-row-content 			{ display: table-row; }

/*.ait-grid-row .ait-row-content:after						{ content: "."; display: block; height: 0; overflow:hidden; clear: both; visibility: hidden; }*/
/*.ait-grid-row .ait-row-content .ait-column 				{ display: block; padding-bottom: 30px; margin-right: 0.44%; float: left; }*/
/*.ait-grid-row .ait-row-content .ait-column:last-child		{ margin-right: 0px; }*/

.ait-grid-row .ait-row-content .ait-column 								{ display: table-cell; vertical-align: top; padding-bottom: 30px; background: #ffffff; border: 1px solid #cccccc; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.ait-grid-row .ait-row-content .ait-column .ait-column-handle 			{ cursor: move; height: auto; box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3) inset, 0 2px 0px rgba(0, 0, 0, 0.05); text-shadow: 1px 1px 0px rgba(255,255,255,0.75); padding: 0px; }
.ait-grid-row .ait-row-content .ait-column .ait-column-handle:hover,
.ait-grid-row .ait-row-content .ui-sortable-helper .ait-column-handle	{ background: #E8EEEF; box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.3) inset, 0 1px 1px rgba(0, 0, 0, 0.2);}
.ait-grid-row .ait-row-content .ait-column .ait-column-handle h4 		{ margin: 0 auto; max-width: 25px; padding: 5px 10px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; text-align: center; position: relative; }
.ait-grid-row .ait-row-content .ait-column .ait-column-handle h4:before,
.ait-grid-row .ait-row-content .ait-column .ait-column-handle h4:after				{ content: ""; display: block; width: 10px; height: 10px; position: absolute; top: 9px; background: url('../img/header_icons.png') no-repeat; }
.ait-grid-row .ait-row-content .ait-column .ait-column-handle h4:before				{ left: 0px; background-position: -320px -20px; }
.ait-grid-row .ait-row-content .ait-column .ait-column-handle h4:after				{ right: 0px; background-position: -330px -20px; }
.ait-grid-row .ait-row-content .ait-column:first-child .ait-column-handle h4:before	{ background-position: -320px -30px; }
.ait-grid-row .ait-row-content .ait-column:last-child .ait-column-handle h4:after	{ background-position: -330px -30px; }
.ait-grid-row .ait-row-content .ait-column .ait-column-content 			{ min-height: 85px; padding: 7px 5px 5px 5px; }
.ait-grid-row .ait-row-content .ait-column .ait-column-content .ait-used-elements-droppable-placeholder { border: 2px dashed #ccc; background: #fff; margin: 0px 0px 5px 0px; border-radius: 3px; padding:0; }
.ait-grid-row .ait-row-content .ait-column .ait-element 												{ margin: 0px 0px 5px 0px; }

.ait-grid-row .ait-row-content .ait-column .ait-element-handler 										{ background-color: #b2b2b2; border-color: #aaaaaa; padding: 0; border-radius: 3px; position: relative; box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.1) inset, 0 2px 3px rgba(0, 0, 0, 0.1), 0 40px 30px -30px rgba(255, 255, 255, 0.3) inset, 0 13px 0 rgba(255, 255, 255, 0.2) inset; }
.ait-grid-row .ait-row-content .ait-column .ait-element-handler:hover									{ background-color: #7F969F; border-color: #7F969F; }
.ait-grid-row .ait-row-content .ait-column .open .ait-element-handler 									{ background-color: #333333; border-color: #555555; }
.ait-grid-row .ait-row-content .ait-column .ait-element-handler .ait-element-actions 					{ padding: 0; margin: 0; width: auto; position: absolute; top: 5px; right: 3px; }
.ait-grid-row .ait-row-content .ait-column .ait-element-handler .ait-element-title 						{ padding: 0 24px 0 24px; }
.ait-grid-row .ait-row-content .ait-column .ait-element-handler .ait-element-title h4 					{ color: #ffffff; text-align: center; text-shadow: -1px -1px 0px rgba(0,0,0,0.15); font-size: 12px; line-height: 24px; margin: 0; padding: 1px 0px 1px 0px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; float: none; }
.ait-grid-row .ait-row-content .ait-column .ait-element-handler .ait-element-title h4:before			{ display: none; }
.ait-grid-row .ait-row-content .ait-column .ait-element-handler .ait-element-actions a,
.ait-grid-row .ait-row-content .ait-column .ait-element-handler:hover .ait-element-actions a				{ width: 16px; height: 16px; background-position: -240px 0px;}
.ait-grid-row .ait-row-content .ait-column .ait-element-handler:hover .ait-element-actions a:hover			{ background-position: -240px -16px;}
.ait-grid-row .ait-row-content .ait-column .ait-element-handler .ait-element-actions a.ait-element-close	{ display: none; }
.ait-grid-row .ait-row-content .ait-column .ait-element-handler:before										{ content: ""; display: block; width: 16px; height: 16px; background: url('../img/header_icons.png') -224px 0px no-repeat;  position: absolute; top: 5px; left: 4px;}

.change-columns { text-decoration: none }

.ait-columns-editor .ait-columns-editor-element-header 			{ width: 100%; height: auto; background-color: #e2e2e2; margin: 10px 0px 1px 0px; border-radius: 4px 4px 0 0; position: relative; }
.ait-columns-editor .ait-columns-editor-element-title 			{  }
.ait-columns-editor .ait-columns-editor-element-title:after		{ content: "."; display: block; height: 0; overflow:hidden; clear: both; visibility: hidden; }
.ait-columns-editor .ait-columns-editor-element-title h4 		{ font-size: 16px; line-height: 24px; padding: 8px 0px 7px 48px; margin: 0; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75); position: relative; float: left; }
.ait-columns-editor .ait-columns-editor-element-title h4:before	{ background: url('../img/header_icons.png') -256px 0px no-repeat; content: " "; display: block; width: 32px; height: 32px; position: absolute; top: 3px; left: 10px; }
.ait-columns-editor .ait-columns-editor-remove 					{ background: url('../img/header_icons.png') -340px 0px no-repeat; display: inline-block; width: 32px; height: 32px; font-size: 0px; line-height: 0px; text-indent: -9999px; text-decoration: none; position: absolute; top: 3px; right: 10px; outline: none; }
.ait-columns-editor .ait-columns-editor-remove:hover			{ background-position: -340px -32px; }
.ait-columns-editor .ait-element-content						{ border: 3px solid #E2E2E2; border-radius: 0 0 4px 4px; box-shadow: 0 0 0 1px #CCCCCC inset; }

#ait-used-elements-sortable .ait-columns-editor-element-title span.ait-element-user-description					{ padding: 8px 40px 7px 15px; cursor: text; font-size: 16px; line-height: 24px; min-height: 24px; float: left; position: relative; text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75); }
#ait-used-elements-sortable .ait-columns-editor-element-title span.ait-element-user-description:before			{ background: url('../img/header_icons.png') -372px -32px no-repeat; content: " "; display: none; width: 32px; height: 32px; position: absolute; top: 4px; right: 6px; }
#ait-used-elements-sortable .ait-columns-editor-element-title:hover span.ait-element-user-description:before	{ display: block; }
#ait-used-elements-sortable .ait-columns-editor-element-title input.ait-element-user-description				{ border: 1px solid #AAAAAA; background: #ffffff; color: #333333; margin: 8px 0px 0px 15px; height: 24px; line-height: normal; font-size: 13px; padding: 0px 3px; border-radius: 3px;  float: left;  }
#ait-used-elements-sortable .ait-column .ait-element-title .ait-element-user-description		{ display: none; }
#ait-used-elements-sortable .ait-column .ait-element-title .element-has-user-description		{ display: block; font-size: 11px; line-height: 16px; min-height: 16px; text-align: center; float: none; padding: 0px; margin: -3px 0px 5px 0px; display: block; color: #ffffff; text-shadow: -1px -1px 0px rgba(0,0,0,0.15); }
#ait-used-elements-sortable .ait-column .ait-element-title .element-has-user-description:before	{ display: none !important; }

.column-grid-2 .column-span-1	{ width: 49.78%; }
.column-grid-2 .column-span-2	{ width: 100%; }
.column-grid-3 .column-span-1	{ width: 33.04%; }
.column-grid-3 .column-span-2	{ width: 66.52%; }
.column-grid-3 .column-span-3	{ width: 100%; }
.column-grid-4 .column-span-1	{ width: 24.67%; }
.column-grid-4 .column-span-2	{ width: 49.78%; }
.column-grid-4 .column-span-3	{ width: 74.89%; }
.column-grid-4 .column-span-4	{ width: 100%; }
.column-grid-5 .column-span-1	{ width: 19.648%; }
.column-grid-5 .column-span-2	{ width: 39.736%; }
.column-grid-5 .column-span-3	{ width: 59.824%; }
.column-grid-5 .column-span-4	{ width: 79.912%; }
.column-grid-5 .column-span-5	{ width: 100%; }
.column-grid-6 .column-span-1	{ width: 16.3%; }
.column-grid-6 .column-span-2	{ width: 33.04%; }
.column-grid-6 .column-span-3	{ width: 49.78%; }
.column-grid-6 .column-span-4	{ width: 66.52%; }
.column-grid-6 .column-span-5	{ width: 83.26%; }
.column-grid-6 .column-span-6	{ width: 100%; }


.ait-grid-row .ait-top-panel 				{  }
.ait-grid-row .btn-groups					{ white-space: nowrap; }
.ait-grid-row .btn-groups:after				{ content: "."; display: block; height: 0; overflow:hidden; clear: both; visibility: hidden; }
.ait-grid-row .btn-group					{ display: block; float: left; margin-right: 1px; margin-bottom: 1px; padding: 3px; background: #e2e2e2; cursor: pointer; position: relative; }
.ait-grid-row .btn-group:first-child		{ border-radius: 4px 0px 0px 0px; }
.ait-grid-row .btn-group:last-child			{ border-radius: 0px 4px 0px 0px; }
.ait-grid-row .btn-group .btn							{ display: block; width: 74px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; border-radius: 3px; padding: 8px 0px 8px 0px; position: relative; transition: background 0.5s; }
.ait-grid-row .btn-group:hover .btn						{ background: #ffffff; box-shadow: 0px 0px 0px 1px #cccccc inset; }
.ait-grid-row .btn-group .btn-icon						{ display: block; width: 64px; height: 29px; margin: auto; background: url('../img/columns.png') no-repeat; font-size: 0px; line-height: 0px; text-indent: -9999px; }
.ait-grid-row .btn-group .dropdown-toggle .btn-icon		{ height: 21px; margin-bottom: 8px; }
.ait-grid-row .btn-group .caret							{ border-left: 4px solid transparent; border-right: 4px solid transparent; border-top: 4px solid #333333; content: ""; display: inline-block; height: 0; width: 0; position: absolute; left: 50%; bottom: 6px; margin-left: -4px; }
.ait-grid-row .btn-group:nth-child(1) .btn-icon			{ background-position: 0px 0px; }
.ait-grid-row .btn-group:nth-child(2) .btn-icon			{ background-position: -64px 0px; }
.ait-grid-row .btn-group:nth-child(3) .btn-icon			{ background-position: -128px 0px; }
.ait-grid-row .btn-group:nth-child(4) .btn-icon			{ background-position: -192px 0px; }
.ait-grid-row .btn-group:nth-child(5) .btn-icon			{ background-position: -256px 0px; }
.ait-grid-row .btn-group:nth-child(6) .btn-icon			{ background-position: -320px 0px; }
.ait-grid-row .btn-group:nth-child(1):hover .btn-icon	{ background-position: 0px -30px; }
.ait-grid-row .btn-group:nth-child(2):hover .btn-icon	{ background-position: -64px -30px; }
.ait-grid-row .btn-group:nth-child(3):hover .btn-icon	{ background-position: -128px -30px; }
.ait-grid-row .btn-group:nth-child(4):hover .btn-icon	{ background-position: -192px -30px; }
.ait-grid-row .btn-group:nth-child(5):hover .btn-icon	{ background-position: -256px -30px; }
.ait-grid-row .btn-group:nth-child(6):hover .btn-icon	{ background-position: -320px -30px; }

.ait-grid-row .btn-group .dropdown-menu					{ display: none; position: absolute; top: 48px; left: 3px; padding: 4px; background: #ffffff; border: 1px solid #cccccc; border-radius: 3px; box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.ait-grid-row .btn-group:hover ul.dropdown-menu			{ display: block;  }
.ait-grid-row .btn-group ul.dropdown-menu li			{ margin: 0px; padding: 0px; border-bottom: 1px solid #F2F2F2; }
.ait-grid-row .btn-group ul.dropdown-menu li:last-child	{ border-bottom-width: 0px; }
.ait-grid-row .btn-group ul.dropdown-menu li a,
.ait-grid-row .btn-group ul.dropdown-menu li a:focus	{ clear: both; color: #333333; background: none; display: block; font-weight: normal; line-height: 20px; padding: 4px 5px 5px 25px; white-space: nowrap; outline: none; position: relative; }
.ait-grid-row .btn-group ul.dropdown-menu li a:hover	{ background: #7F969F; color: #ffffff; }

.ait-grid-row .btn-group ul.dropdown-menu li a:before									{ content: ""; display: block; width: 15px; height: 15px; position: absolute; top: 7px; left: 5px; background: url('../img/columns.png') no-repeat; }
.ait-grid-row .btn-group:nth-child(2) ul.dropdown-menu li:nth-child(1) a:before			{ background-position: -384px 0px; }
.ait-grid-row .btn-group:nth-child(2) ul.dropdown-menu li:nth-child(2) a:before			{ background-position: -399px 0px; }
.ait-grid-row .btn-group:nth-child(2) ul.dropdown-menu li:nth-child(3) a:before			{ background-position: -414px 0px; }
.ait-grid-row .btn-group:nth-child(2) ul.dropdown-menu li:nth-child(4) a:before			{ background-position: -429px 0px; }
.ait-grid-row .btn-group:nth-child(2) ul.dropdown-menu li:nth-child(5) a:before			{ background-position: -444px 0px; }
.ait-grid-row .btn-group:nth-child(3) ul.dropdown-menu li:nth-child(1) a:before			{ background-position: -459px 0px; }
.ait-grid-row .btn-group:nth-child(3) ul.dropdown-menu li:nth-child(2) a:before			{ background-position: -384px -15px; }
.ait-grid-row .btn-group:nth-child(3) ul.dropdown-menu li:nth-child(3) a:before			{ background-position: -399px -15px; }
.ait-grid-row .btn-group:nth-child(3) ul.dropdown-menu li:nth-child(4) a:before			{ background-position: -414px -15px; }
.ait-grid-row .btn-group:nth-child(4) ul.dropdown-menu li:nth-child(1) a:before			{ background-position: -429px -15px; }
.ait-grid-row .btn-group:nth-child(4) ul.dropdown-menu li:nth-child(2) a:before			{ background-position: -444px -15px; }
.ait-grid-row .btn-group:nth-child(2) ul.dropdown-menu li:nth-child(1) a:hover:before	{ background-position: -384px -30px; }
.ait-grid-row .btn-group:nth-child(2) ul.dropdown-menu li:nth-child(2) a:hover:before	{ background-position: -399px -30px; }
.ait-grid-row .btn-group:nth-child(2) ul.dropdown-menu li:nth-child(3) a:hover:before	{ background-position: -414px -30px; }
.ait-grid-row .btn-group:nth-child(2) ul.dropdown-menu li:nth-child(4) a:hover:before	{ background-position: -429px -30px; }
.ait-grid-row .btn-group:nth-child(2) ul.dropdown-menu li:nth-child(5) a:hover:before	{ background-position: -444px -30px; }
.ait-grid-row .btn-group:nth-child(3) ul.dropdown-menu li:nth-child(1) a:hover:before	{ background-position: -459px -30px; }
.ait-grid-row .btn-group:nth-child(3) ul.dropdown-menu li:nth-child(2) a:hover:before	{ background-position: -384px -45px; }
.ait-grid-row .btn-group:nth-child(3) ul.dropdown-menu li:nth-child(3) a:hover:before	{ background-position: -399px -45px; }
.ait-grid-row .btn-group:nth-child(3) ul.dropdown-menu li:nth-child(4) a:hover:before	{ background-position: -414px -45px; }
.ait-grid-row .btn-group:nth-child(4) ul.dropdown-menu li:nth-child(1) a:hover:before	{ background-position: -429px -45px; }
.ait-grid-row .btn-group:nth-child(4) ul.dropdown-menu li:nth-child(2) a:hover:before	{ background-position: -444px -45px; }

/*** Font Awesome Selector ****/
.fa-select	{font-family: sans-serif, 'FontAwesome';}
