
            /** ----------------------------------------------------------------
             ******** General Style
             ---------------------------------------------------------------- **/

            .main .suppa_holder{
                height:50px !important;
            }

            .main.suppaMenu_wrap {
                height:50px !important;
                z-index:99999999999;
            }

            .main.suppaMenu_wrap_wide_layout {
                background-color:#0b1b26;

                /* Borders */
                border-top: 0px solid #111111;
                border-left: 0px solid #111111;

                /* CSS3 Gradient */
                background-image: -webkit-linear-gradient(top, transparent, transparent) ;
                background-image: -moz-linear-gradient(top, transparent, transparent) ;
                background-image: -o-linear-gradient(top, transparent, transparent) ;
                background-image: -ms-linear-gradient(top, transparent, transparent) ;
                background-image: linear-gradient(top, transparent, transparent) ;

                
            }

            .main .suppaMenu {

                width:100%;
                z-index:99999999999;
                height:50px !important;

                background-color:#0b1b26;

                /* Borders */
                border-top: 0px solid #111111;
                border-right: 0px solid #111111;
                border-bottom: 0px solid #111111;
                border-left: 0px solid #111111;

                /* CSS3 Gradient */
                background-image: -webkit-linear-gradient(top, transparent, transparent) ;
                background-image: -moz-linear-gradient(top, transparent, transparent) ;
                background-image: -o-linear-gradient(top, transparent, transparent) ;
                background-image: -ms-linear-gradient(top, transparent, transparent) ;
                background-image: linear-gradient(top, transparent, transparent) ;

                

                /* CSS3 Box Shadow */
                -moz-box-shadow   : 0px 0px 0px 0px rgba(0,0,0,0.2);
                -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.2);
                box-shadow        : 0px 0px 0px 0px rgba(0,0,0,0.2);

                /* CSS3 Border Radius */
                -webkit-border-radius: 0px 0px 0px 0px;
                -moz-border-radius: 0px 0px 0px 0px;
                border-radius: 0px 0px 0px 0px;

            }


            /** ----------------------------------------------------------------
             ******** Logo Style
             ---------------------------------------------------------------- **/
            .main .suppa_menu_logo.logo_left_menu_right{
                height:50px !important;
                border-right:1px solid transparent !important;
            }
            .main .suppa_menu_logo.logo_right_menu_left{
                height:50px !important;
                border-left:1px solid transparent !important;
            }

            .main .suppa_menu_logo.logo_top_center,
            .main .suppa_menu_logo.logo_top_left,
            .main .suppa_menu_logo.logo_top_right{
                width:100%;
            }

            .main .logo_top_center,
            .main .logo_top_left,
            .main .logo_top_right {

                background-color:;

                /* Borders */
                border-top:  solid ;
                border-right:  solid ;
                border-bottom:  solid ;
                border-left:  solid ;

                /* CSS3 Gradient */
                background-image: -webkit-linear-gradient(, , ) ;
                background-image: -moz-linear-gradient(, , ) ;
                background-image: -o-linear-gradient(, , ) ;
                background-image: -ms-linear-gradient(, , ) ;
                background-image: linear-gradient(, , ) ;

                

                /* CSS3 Box Shadow */
                -moz-box-shadow   : 0px 0px   ;
                -webkit-box-shadow: 0px 0px   ;
                box-shadow        : 0px 0px   ;

                /* CSS3 Border Radius */
                -webkit-border-radius:    ;
                -moz-border-radius:    ;
                border-radius:    ;
            }

            .main .suppa_menu_logo img{
                padding-top:0px !important;
                padding-bottom: !important;
                padding-right:0px !important;
                padding-left:0px !important;
            }

            .main .suppa_rwd_logo img{
                padding-top:0px !important;
                padding-bottom: !important;
                padding-right:0px !important;
                padding-left:0px !important;
            }


            /** ----------------------------------------------------------------
             ******** Top Level Links Style
             ---------------------------------------------------------------- **/
            .main .suppa_top_level_link {
                height:50px !important;
                color:#c9c9c9;
            }

            .main .suppa_top_level_link .suppa_item_title{
                font-size:14px !important;
                font-family:null !important;
                font-style:normal;
                color:#c9c9c9;
                padding-top:15px;
            }

            .main .suppa_menu {
                height:50px !important;
            }

            .main .suppa_menu_mega_posts .suppa_top_level_link ,
            .main .suppa_menu_dropdown .suppa_top_level_link ,
            .main .suppa_menu_posts .suppa_top_level_link ,
            .main .suppa_menu_html .suppa_top_level_link ,
            .main .suppa_menu_links .suppa_top_level_link,
            .main .suppa_menu_linksTwo .suppa_top_level_link{
                padding-left:15px;
                padding-right:15px;
                border-color:transparent;
            }

            .main .suppa_menu .suppa_top_level_link.suppa_top_links_has_arrow{
                padding-right:25px;
            }

            /** ----------------------------------------------------------------
             ******** Description Style
             ---------------------------------------------------------------- **/
            .main .suppa_top_level_link .suppa_item_desc{
                font-size:12px !important;
                font-family:null !important;
                font-style:normal;
                color:#c9c9c9;
                padding-top:5px !important;
            }
            .main .suppa_menu:hover .suppa_top_level_link .suppa_item_desc{
                color:#ffffff;
            }

            /** ----------------------------------------------------------------
             ******** Top Level Links on [HOVER] Style
             ---------------------------------------------------------------- **/
            .main .suppa_menu:hover .suppa_top_level_link{
                background-color:#03111c;
                color:#ffffff;
            }
            .main .suppa_menu:hover .suppa_top_level_link .suppa_item_title{
                color:#ffffff;
            }

            /** Needed for suppa_frontend.js **/
            .main .suppa_menu.suppa_menu_class_hover .suppa_top_level_link{
                background-color:#03111c;
                color:#ffffff;
            }
            .main .suppa_menu.suppa_menu_class_hover .suppa_top_level_link .suppa_item_title{
                color:#ffffff;
            }
            .main .suppa_menu.suppa_menu_class_hover .suppa_top_level_link .suppa_item_desc{
                color:#ffffff;
            }

            /* boder right or left */
            .main .suppa_menu .suppa_top_level_link.suppa_menu_position_left,
            .main .suppa_menu .suppa_menu_position_left{
                border-right:1px solid transparent;
            }
            .main .suppa_menu .suppa_top_level_link.suppa_menu_position_right,
            .main .suppa_menu .suppa_menu_position_right{
                border-left:1px solid transparent;
            }

            /** ----------------------------------------------------------------
             ******** Top Level Arrow Style
             ---------------------------------------------------------------- **/
            .main .suppa_top_level_link .ctf_suppa_fa_box_top_arrow{
                    font-size:14px !important;
                    top:15px !important;
                    right:5px !important;

                    /* color/bg/border */
                    color:#c9c9c9;
            }
            .main .suppa_menu:hover .suppa_top_level_link .ctf_suppa_fa_box_top_arrow{
                color:#ffffff;
            }
            /** Needed for suppa_frontend.js **/
            .main .suppa_menu.suppa_menu_class_hover .suppa_top_level_link .ctf_suppa_fa_box_top_arrow,
            .main .suppa_menu.suppa_menu_class_hover .suppa_top_level_link .ctf_suppa_fa_box{
                color:#ffffff !important;
            }

            /** ----------------------------------------------------------------
             ******** Current Top Level Style
             ---------------------------------------------------------------- **/
            .main .suppa_menu .suppa_top_level_link.current-menu-item,
            .main .suppa_menu .suppa_top_level_link.current-menu-item .ctf_suppa_fa_box,
            .main .suppa_menu .suppa_top_level_link.current-menu-item .suppa_item_title,
            .main .suppa_menu .suppa_top_level_link.current-menu-ancestor,
            .main .suppa_menu .suppa_top_level_link.current-menu-ancestor .ctf_suppa_fa_box,
            .main .suppa_menu .suppa_top_level_link.current-menu-ancestor .suppa_item_title{
                color:#ffffff ;
            }

            .main .suppa_menu .suppa_top_level_link.current-menu-item,
            .main .suppa_menu .suppa_top_level_link.current-menu-ancestor {
                background-color:#2b2b2b;
            }

            .main .suppa_menu .suppa_top_level_link.current-menu-ancestor .era_suppa_arrow_box span,
            .main .suppa_menu .suppa_top_level_link.current-menu-item .era_suppa_arrow_box span{
                color:#ffffff;
            }


            /** ----------------------------------------------------------------
             ******** Top Level Icons
             ---------------------------------------------------------------- **/
            /** F.Awesome Icons **/
            .main .suppa_menu .suppa_top_level_link .ctf_suppa_fa_box{
                color:#c9c9c9;
            }
            .main .suppa_menu:hover .suppa_top_level_link .ctf_suppa_fa_box{
                color:#ffffff;
            }
            .main .suppa_menu .suppa_top_level_link .ctf_suppa_fa_box{
                font-size:20px !important;
                margin-top: 16px !important;
                padding-right: 10px !important;
            }

            /** Uploaded Icons **/
            .main .suppa_menu .suppa_top_level_link .suppa_upload_img{
                width : 20px !important;
                height : 20px !important;
                margin-top: 16px !important;
                padding-right: 10px !important;
            }



            /** ----------------------------------------------------------------
             ******** General Submenu
             ---------------------------------------------------------------- **/
            .main .suppa_submenu {

                top:50px !important;

                /* color/bg/border */
                background-color:#0e2638;

                border-top: 0px solid #111111;
                border-right: 0px solid #111111;
                border-bottom: 0px solid #111111;
                border-left: 0px solid #111111;

                /* CSS3 Gradient */
                background-image: -webkit-linear-gradient(top, transparent, transparent) ;
                background-image: -moz-linear-gradient(top, transparent, transparent) ;
                background-image: -o-linear-gradient(top, transparent, transparent) ;
                background-image: -ms-linear-gradient(top, transparent, transparent) ;
                background-image: linear-gradient(top, transparent, transparent) ;

                

                /* CSS3 Box Shadow */
                -moz-box-shadow   : 0px 0px 2px 1px rgba( 100,100,100,0.2);
                -webkit-box-shadow: 0px 0px 2px 1px rgba( 100,100,100,0.2);
                box-shadow        : 0px 0px 2px 1px rgba( 100,100,100,0.2);

                /* CSS3 Border Radius */
                -webkit-border-radius: 0px 0px 4px 4px;
                -moz-border-radius: 0px 0px 4px 4px;
                border-radius: 0px 0px 4px 4px;
            }



            /** ----------------------------------------------------------------
             ******** SubMenu Posts
             ---------------------------------------------------------------- **/
            .main .suppa_post {
                width: 209px;
            }
            .main .suppa_post a{
                width: 209px;
            }
            .main .suppa_post img{
                width: 209px;
                height: 160px;
            }
            .main .suppa_post div.suppa_post_link_container {
                width: 209px !important;
            }

            .main .suppa_post {
                margin: 15px 0px 15px 15px !important;
            }
            .main .suppa_post div.suppa_post_link_container {
                background-color: #0b1b26;
            }
            .main .suppa_post span {
                font-size:14px !important;
                font-family:null !important;
                font-style:normal;

                padding: 10px 10px 10px 10px !important;

                /* color/bg/border */
                color:#f1f1f1;
            }

            .main .suppa_post span:hover ,
            .main .suppa_post span:hover {
                /* color/bg/border */
                color:#ffffff;
            }

            .main .suppa_latest_posts_view_all{
                font-size:14px !important;
                font-family:null !important;
                font-style:normal;
                padding: 15px 15px ;
                margin: 15px 15px;

                /* color/bg/border */
                color:#313131;
                background-color: #ffffff;
            }

            .main .suppa_latest_posts_view_all:hover{
                /* color/bg/border */
                color:#313131;
                background-color: #ffffff;
            }


            /** ----------------------------------------------------------------
             ******** SubMenu Mega Links Two
             ---------------------------------------------------------------- **/
            .main .suppa_menu_linksTwo .suppa_submenu .suppa_linksTwo_categoriesContainer a {
                font-size:18px !important;
                font-family:'Arial' , sans-serif !important;
                font-style:normal;

                padding-top:    10px;
                padding-bottom: 10px;
                padding-left:   10px;
                padding-right:  10px;

                /* color/bg/border */
                color:#c9c9c9;
                border-bottom:1px solid #03111c;
            }
            .main .suppa_menu_linksTwo .suppa_linksTwo_categoriesContainer a:hover,
            .main .suppa_menu_linksTwo .suppa_linksTwo_categoriesContainer a.suppa_linksTwo_categoriesContainer_current {
                color:#ffffff;
                background-color:#03111c;
            }

            .main .suppa_menu_linksTwo .suppa_linksTwo_cat a {
                font-size:14px !important;
                font-family:null !important;
                font-style:normal;

                padding-top:    10px;
                padding-bottom: 10px;
                padding-left:   10px;
                padding-right:  10px;

                /* color/bg/border */
                color:#c9c9c9;
            }
            .main .suppa_menu_linksTwo .suppa_submenu .suppa_linksTwo_cat a:hover {
                color:#ffffff;
            }

            /** ----------------------------------------------------------------
             ******** SubMenu Mega Links Two Arrow Style
             ---------------------------------------------------------------- **/
            .main .suppa_menu_linksTwo .suppa_submenu .suppa_linksTwo_categoriesContainer a .suppa_megaLinksTwo_mainLinkArrow{
                top:13px !important;
                right:5px !important;
            }
            .main .suppa_menu_linksTwo .suppa_submenu .suppa_linksTwo_categoriesContainer a .suppa_megaLinksTwo_mainLinkArrow span {
                font-size:14px !important;
                /* color/bg/border */
                color:#f1f1f1;
            }
            .main .suppa_menu_linksTwo .suppa_submenu .suppa_linksTwo_categoriesContainer a:hover .suppa_megaLinksTwo_mainLinkArrow span,
            .suppa_linksTwo_categoriesContainer_current .suppa_megaLinksTwo_mainLinkArrow span{
                color:#ffffff !important;
            }


            /** ----------------------------------------------------------------
             ******** SubMenu Mega Posts
             ---------------------------------------------------------------- **/
            .main .suppa_menu_mega_posts .suppa_mega_posts_categories{
                margin-top:15px;
            }
            .main .suppa_menu_mega_posts .suppa_mega_posts_categories a {
                font-family : null !important;
                font-size:14px !important;
                font-style:normal;
                color :#f1f1f1;
                padding-top:15px;
                padding-left:15px;
                padding-bottom:15px;
                padding-right:0px;

                background-color:transparent;
            }
            .main .suppa_menu_mega_posts .suppa_mega_posts_categories a .suppa_item_title{
                font-family : null !important;
                font-size:14px !important;
                font-style:normal;
                color :#f1f1f1;
            }
            .main .suppa_menu_mega_posts .suppa_mega_posts_categories a:hover,
            .main .suppa_menu_mega_posts .suppa_mega_posts_categories a.suppa_mega_posts_cat_selected {
                background-color:#0b1b26;
                color :#ffffff;
            }

            .main .suppa_menu_mega_posts .suppa_mega_posts_categories a:hover .suppa_item_title,
            .main .suppa_menu_mega_posts .suppa_mega_posts_categories a.suppa_mega_posts_cat_selected .suppa_item_title{
                color :#ffffff;
            }
            .main .suppa_mega_posts_post_article {
                margin-top:15px;
                margin-left:15px;
                margin-bottom:15px;
                margin-right:0px;
            }

            .main .suppa_mega_posts_post_article span{
                font-family : null !important;
                font-size:14px !important;
                font-style:normal;
                color :#f1f1f1;

                padding-top:10px;
                padding-left:10px;
                padding-bottom:10px;
                padding-right:10px;

            }

            .main .suppa_mega_posts_post_article div.suppa_post_link_container {
                background-color: #0b1b26 !important ;
            }

            .main .suppa_mega_posts_post_article:hover span{
                color :#ffffff;
            }

            .main .suppa_mega_posts_post_article {
                width : 200px !important;
            }
                .main .suppa_mega_posts_post_article img{
                    width : 200px !important;
                    height : 160px !important;
                }

            /** ----------------------------------------------------------------
             ******** Submenu Mega Posts Arrow Style
             ---------------------------------------------------------------- **/
            .main .suppa_menu_mega_posts .suppa_mega_posts_categories a .suppa_mega_posts_arrow {
                top:13px !important;
                right:5px !important;
            }
            .main .suppa_menu_mega_posts .suppa_mega_posts_categories a .suppa_mega_posts_arrow span {
                font-size:14px !important;
                /* color/bg/border */
                color:#f1f1f1;
            }
            .main .suppa_menu_mega_posts .suppa_mega_posts_categories a:hover .suppa_mega_posts_arrow span {
                color:#ffffff;
            }

            /** Needed for suppa_frontend.js **/
            .main .suppa_menu_mega_posts .suppa_mega_posts_cat_selected .suppa_mega_posts_arrow span{
                color:#ffffff !important;
            }



            /** ----------------------------------------------------------------
             ******** Submenu Mega Links Style
             ---------------------------------------------------------------- **/
            .main .suppa_column {
                margin-left:12px !important;
                margin-bottom:12px !important;
            }

            /* Column Title */
            .main .suppa_column_title {
                font-size:18px !important;
                font-family:null !important;
                font-style:normal;
                color:#c9c9c9;
                border-bottom-color:#1d3c4d;
                padding: 10px 0px 10px 0px;
            }
                .main .suppa_column_title .suppa_item_title {
                    font-size:18px !important;
                    font-family:null !important;
                    font-style:normal;
                    color:#c9c9c9;
                }

            .main .suppa_column_title:hover {
                padding-left : 10px !important;
                color:#ffffff;
            }
                .main .suppa_column_title:hover .suppa_item_title {
                    color:#ffffff;
                }

            /* Column Links */
            .main .suppa_column_link{
                font-size:14px !important;
                font-family:null !important;
                font-style:normal;
                color:#c9c9c9;
                padding-right:5px;
                padding-left: 5px ;
                padding-top: 10px ;
                padding-bottom: 10px ;
            }
                .main .suppa_column_link .suppa_item_title {
                    font-size:14px !important;
                    font-family:null !important;
                    font-style:normal;
                    color:#c9c9c9;
                }

            .main .suppa_column_link:nth-child(2) {
                margin-top:10px !important;
            }

            .main .suppa_column_link:hover {
                color:#ffffff;
                padding-left : 15px !important;
            }
                .main .suppa_column_link:hover .suppa_item_title {
                    color:#ffffff;
                }

            /** ----------------------------------------------------------------
             ******** Description Style
             ---------------------------------------------------------------- **/
            .main .suppa_submenu_columns_wrap .suppa_item_desc{
                font-size:12px !important;
                font-family:null !important;
                font-style:normal;
                color:#c9c9c9;

                padding-top:5px !important;
            }
            .main .suppa_column_title:hover .suppa_item_desc,
            .main .suppa_column_link:hover .suppa_item_desc {
                color:#ffffff;
            }

            /** ----------------------------------------------------------------
             ******** Submenu Mega Links Title Icons Style
             ---------------------------------------------------------------- **/
            /* Title Icon */
            .main .suppa_column_title .ctf_suppa_fa_box {
                color:#c9c9c9;
            }
            .main .suppa_column_title:hover .ctf_suppa_fa_box {
                color:#ffffff;
            }

            /* Link Icon */
            .main .suppa_column_link .ctf_suppa_fa_box {
                color:#c9c9c9;
            }
            .main .suppa_column_link:hover .ctf_suppa_fa_box {
                color:#ffffff;
            }

            /** F.Awesome Icons **/
            .main .suppa_column_title .suppa_FA_icon {
                font-size:13px !important;
                margin-top: 2px !important;
                padding-right: 10px !important;
            }

            /** Uploaded Icons **/
            .main .suppa_column_title .suppa_UP_icon {
                width : 13px !important;
                height : 13px !important;
                margin-top: 2px !important;
                padding-right: 10px !important;
            }

            /** ----------------------------------------------------------------
             ******** Submenu Mega Links Links Icons Style
             ---------------------------------------------------------------- **/
            /** F.Awesome Icons **/
            .main .suppa_column_link .suppa_FA_icon {
                font-size:15px !important;
                padding-top: 1px !important;
                padding-right: 10px !important;
            }

            /** Uploaded Icons **/
            .main .suppa_column_link .suppa_UP_icon {
                width : 15px !important;
                height : 15px !important;
                padding-top: 1px !important;
                padding-right: 10px !important;
            }

            /** ----------------------------------------------------------------
             ********  Submenu Mega Links Current Link Style
             ---------------------------------------------------------------- **/
            .main .suppa_menu .suppa_submenu_columns_wrap .current-menu-item,
            .main .suppa_menu .suppa_submenu_columns_wrap .current-menu-item .ctf_suppa_fa_box,
            .main .suppa_menu .suppa_submenu_columns_wrap .current-menu-item .suppa_item_title{
                color:#ffffff !important;
            }

            .main .suppa_menu .suppa_submenu_columns_wrap .current-menu-item {
                background-color:#2b2b2b;
            }

            .main .suppa_menu .suppa_submenu_columns_wrap .current-menu-item .era_suppa_arrow_box span{
                color:#ffffff;
            }



            /** ----------------------------------------------------------------
             ******** Submenu DropDown Style
             ---------------------------------------------------------------- **/
            .main .suppa_menu_dropdown > .suppa_submenu a {
                font-size:14px !important;
                font-family:null !important;
                font-style:normal;
                border-bottom:1px solid #193345;
                padding: 10px 15px 10px 15px;
            }

            .main .suppa_menu_dropdown > .suppa_submenu a .suppa_item_title{
                font-size:14px !important;
                font-family:null !important;
                font-style:normal;
                color:#c9c9c9;
            }

            .main .suppa_menu_dropdown > .suppa_submenu div:hover > a ,
            .main .suppa_menu_dropdown > .suppa_submenu a:hover {
                color:#ffffff;
                background-color:#0b1b26;
                padding-left : 20px;
            }
            .suppa_menu_dropdown > .suppa_submenu div:hover > a .suppa_item_title,
            .suppa_menu_dropdown > .suppa_submenu a:hover .suppa_item_title{
                color:#ffffff;
            }

            /** Needed for suppa_frontend.js **/
            .main .suppa_submenu .suppa_menu_class_dropdown_levels_hover > a {
                color:#ffffff;
                background-color:#0b1b26;
            }
            .main .suppa_submenu .suppa_menu_class_dropdown_levels_hover > a .suppa_item_title{
                color:#ffffff;
            }

            /** ----------------------------------------------------------------
             ******** Description Style
             ---------------------------------------------------------------- **/
            .main .suppa_menu_dropdown > .suppa_submenu .suppa_item_desc{
                font-size:12px !important;
                font-family:null !important;
                font-style:normal;
                color:#c9c9c9;

                padding-top:5px !important;
            }
            .main .suppa_menu_dropdown > .suppa_submenu div:hover > a .suppa_item_desc{
                color:#c9c9c9;
            }
            .main .suppa_submenu .suppa_menu_class_dropdown_levels_hover > a .suppa_item_desc{
                color:#ffffff;
            }

            /** ----------------------------------------------------------------
             ******** Submenu DropDown Icons Style
             ---------------------------------------------------------------- **/
            .main .suppa_menu_dropdown > .suppa_submenu a .suppa_FA_icon{
                color:#c9c9c9;
            }

            .main .suppa_menu_dropdown > .suppa_submenu div:hover > a .suppa_FA_icon,
            .main .suppa_menu_dropdown > .suppa_submenu a:hover .suppa_FA_icon{
                color:#ffffff;
            }

            /** Needed for suppa_frontend.js **/
            .main .suppa_menu_class_dropdown_levels_hover > a .ctf_suppa_fa_box{
                color:#ffffff;
            }

            /** F.Awesome Icons **/
            .main .suppa_menu_dropdown .suppa_submenu .suppa_FA_icon {
                font-size:14px !important;
                margin-top: 0px !important;
                padding-right: 10px !important;
            }

            /** Uploaded Icons **/
            .main .suppa_menu_dropdown .suppa_submenu .suppa_UP_icon {
                width : 14px !important;
                height : 14px !important;
                margin-top: 0px !important;
                padding-right: 10px;
            }

            /** Open Sub Right **/
            .main .suppa_submenu.suppa_submenu_pos_right .suppa_FA_icon{
                padding-right: 0 !important;
                padding-left: 10px !important;
            }
            .main .suppa_submenu.suppa_submenu_pos_right .suppa_UP_icon{
                padding-right: 0 !important;
                padding-left: 10px !important;
            }


            /** ----------------------------------------------------------------
             ******** Submenu DropDown Arrow Style
             ---------------------------------------------------------------- **/
            .main .suppa_menu_dropdown .suppa_submenu a .era_suppa_arrow_box {
                top:9px !important;
                right:10px;
            }
            .main .suppa_menu_dropdown .suppa_submenu a .era_suppa_arrow_box span {
                font-size:14px !important;
                /* color/bg/border */
                color:#c9c9c9;
            }
            .main .suppa_menu_dropdown div:hover > a .era_suppa_arrow_box span {
                color:#ffffff !important;
            }

            /** Needed for suppa_frontend.js **/
            .main .suppa_menu_class_dropdown_levels_hover > a .era_suppa_arrow_box span{
                color:#ffffff !important;
            }

            /** Open Sub Right **/
            .main .suppa_submenu.suppa_submenu_pos_right .suppa_fa_carret_left{
                right: auto !important;
                left: 10px;
            }
            .main .suppa_submenu.suppa_submenu_pos_right .suppa_fa_carret_right {
                display:none !important;
            }

            /** Open Sub Left **/
            .main .suppa_submenu.suppa_submenu_pos_left .suppa_fa_carret_left{
                display: none !important;
            }

            /** ----------------------------------------------------------------
             ******** Current Top Level Style
             ---------------------------------------------------------------- **/
            .main .suppa_menu_dropdown > .suppa_submenu a.current-menu-item .suppa_item_title ,
            .main .suppa_menu_dropdown > .suppa_submenu a.current-menu-item .ctf_suppa_fa_box,
            .main .suppa_menu_dropdown > .suppa_submenu a.current-menu-item .suppa_item_title{
                color:#ffffff ;
            }

            .main .suppa_menu_dropdown .current-menu-item {
                background-color:#2b2b2b;
            }

            .main .suppa_menu_dropdown > .suppa_submenu a.current-menu-item .era_suppa_arrow_box span{
                color:#ffffff;
            }




            /** ----------------------------------------------------------------
             ******** Search Form Style
             ---------------------------------------------------------------- **/

             /** Form **/
            .main .suppa_menu_search form {
                margin-top:0px;
                margin-right:10px;
                margin-left:10px;
                width:150px;

            }

            /* Input */
            .main input{
                background-color:#ffffff;
                width:150px;
                height:26px;
                color:#06456e !important;

                padding-left:5px;
                padding-right:5px;

                font-size:12;
                font-family:null;
                font-style:normal;

                -webkit-border-radius: !important;
                -moz-border-radius: !important;
                border-radius: !important;

                border:1px solid #0b1b26;
            }
            .main .suppa_menu_search ::-webkit-input-placeholder { /* WebKit browsers */
                color:#06456e !important;
            }
            .main .suppa_menu_search :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
                color:#06456e !important;
                opacity:  1;
            }
            .main .suppa_menu_search ::-moz-placeholder { /* Mozilla Firefox 19+ */
                color:#06456e !important;
                opacity:  1;
            }
            .main .suppa_menu_search :-ms-input-placeholder { /* Internet Explorer 10+ */
                color:#06456e !important;
            }


            /* Normal: Form */
            .main .suppa_search_normal form {
                height:26px;
                width:150px;
            }

            /* Normal : Search Icon */
            .main .suppa_search_normal .suppa_search_icon{
                font-size:14px !important;
                height:26px;
                line-height:26px;
                background-color:#ffffff;

                border-radius: 0   0 !important;

            }
            .main .suppa_search_normal .suppa_search_icon span{
                color:#ffffff;
                padding-left:;
                padding-right:;
            }


            /** Boxed **/
            .main .suppa_search_boxed form {
                margin-bottom:0px;
            }

            /** Boxed : Top Icon **/
            .main .suppa_top_level_link.suppa_search_icon{
                color:#ffffff;
                padding-top:;
                padding-left:;
                padding-right:;
                height:50px !important;
            }
            .main .suppa_menu:hover .suppa_top_level_link.suppa_search_icon{
                color:#ffffff;
            }
            .main .suppa_menu .suppa_top_level_link .ctf_suppa_fa_box{
                font-size:20px !important;
                margin-top: 16px !important;
                padding-right: 10px !important;
            }

            /* Modern */
            .main .suppa_submenu_modern_search{
                z-index:100000019998;
                height:50px !important;
            }
            .main .suppa_submenu_modern_search form,
            .main .suppa_submenu_modern_search input{
                height:50px !important;
            }

            /* Modern : Close Icon */
            .main .suppa_submenu_modern_search .suppa_search_modern_close{
                z-index:100000020000;
                padding-top:;
                padding-left:;
                padding-right:;
                height:50px !important;
                font-size:20px !important;
                color:#06456e !important;
            }


            /** ----------------------------------------------------------------
             ******** Social Links Style
             ---------------------------------------------------------------- **/
            .main .suppa_menu_social a.suppa_top_level_link{
                padding-left:4px !important;
                padding-right:4px !important;
            }

            /** ----------------------------------------------------------------
             ******** Social Links Icons Style
             ---------------------------------------------------------------- **/
            /** F.Awesome Icons **/
            .main .suppa_menu_social .suppa_top_level_link .suppa_FA_icon_only {
                font-size:16px !important;
                padding-top: 0px !important;
                padding-right: 0px !important;
            }

            /** Uploaded Only Icons **/
            .main .suppa_menu_social .suppa_top_level_link .suppa_UP_icon_only {
                width : 16px !important;
                height : 16px !important;
                padding-top: 0px !important;
                padding-right: 0px !important;
            }


            /** ----------------------------------------------------------------
             ******** WooCommerce
             ---------------------------------------------------------------- **/
            .main .suppa_menu_woocommerce_cart a {
                height:50px !important;
                padding-left:15px;
                padding-right:15px;
            }

            .main .suppa_menu_woocommerce_cart > a,
            .main .suppa_menu_woocommerce_cart > a span.suppa_item_title {
                font-size:14px !important;
                font-family:null !important;
                font-style:normal;
                color:#c9c9c9;
            }

            .main .suppa_menu_woocommerce_cart > a > span.suppa_item_title{
                padding-top:15px !important;
            }

            /* boder right or left */
            .main .suppa_menu_woocommerce_cart a.suppa_menu_position_left,
            .main .suppa_menu .suppa_menu_position_left{
                border-right:1px solid transparent;
            }
            .main .suppa_menu_woocommerce_cart a.suppa_menu_position_right,
            .main .suppa_menu .suppa_menu_position_right{
                border-left:1px solid transparent;
            }

            /* Hover */
            .main .suppa_menu_woocommerce_cart:hover > a{
                background-color:#03111c;
                color:#ffffff;
            }
            .main .suppa_menu_woocommerce_cart:hover > a > span.suppa_item_title{
                color:#ffffff;
            }

            /* Current Link */
            .main .suppa_menu_woocommerce_cart > a.current-menu-item,
            .main .suppa_menu_woocommerce_cart > a.current-menu-ancestor {
                color:#ffffff ;
                background-color:#2b2b2b;
            }
            .main .suppa_menu_woocommerce_cart > a.current-menu-item .ctf_suppa_fa_box,
            .main .suppa_menu_woocommerce_cart > a.current-menu-ancestor .ctf_suppa_fa_box{
                color:#ffffff;
            }

            /* Fix for canvas theme */
            .main .suppa_menu_woocommerce_cart a.cart-contents {
                padding-left:15px;
                padding-right:15px;
            }
            .main .suppa_menu_woocommerce_cart a.cart-contents span{
                font-size:14px !important;
                font-family:null !important;
                font-style:normal;
                color:#c9c9c9;
                padding-top:15px !important;
            }
            /* Hover */
            .main .suppa_menu_woocommerce_cart:hover > a.cart-contents{
                background-color:#03111c;
                color:#ffffff;
            }
            .main .suppa_menu_woocommerce_cart:hover > a.cart-contents span{
                color:#ffffff;
            }

            /** ----------------------------------------------------------------
             ******** Responsive Web Design Style
             ---------------------------------------------------------------- **/

            .main .suppa_rwd_top_button_container{
                height:50px !important;
                background-color:#0b1b26;

                /* CSS3 Gradient */
                background-image: -webkit-linear-gradient(top, transparent, transparent) ;
                background-image: -moz-linear-gradient(top, transparent, transparent) ;
                background-image: -o-linear-gradient(top, transparent, transparent) ;
                background-image: -ms-linear-gradient(top, transparent, transparent) ;
                background-image: linear-gradient(top, transparent, transparent) ;

                

                /* Borders */
                border-top: 0px solid #111111;
                border-right: 0px solid #111111;
                border-bottom: 0px solid #111111;
                border-left: 0px solid #111111;
            }

            .main .suppa_rwd_menus_container {
                /* color/bg/border */
                background-color:#0e2638;

                /* CSS3 Gradient */
                background-image: -webkit-linear-gradient(top, transparent, transparent) ;
                background-image: -moz-linear-gradient(top, transparent, transparent) ;
                background-image: -o-linear-gradient(top, transparent, transparent) ;
                background-image: -ms-linear-gradient(top, transparent, transparent) ;
                background-image: linear-gradient(top, transparent, transparent) ;
            }


            /* Top Button & Text */
            .main .suppa_rwd_button,
            .main .suppa_rwd_text {
                line-height:50px !important;
            }
            .main .suppa_rwd_button {
                padding-right:20px !important;
                padding-left:20px !important;
                line-height:50px !important;
            }
            .main .suppa_rwd_button,
            .main .suppa_rwd_button span{
                font-size:20px !important;
                color:#ffffff;
            }
            .main .suppa_rwd_text{
                font-size:14px !important;
                font-family:null !important;
                font-style:normal;
                color :#ffffff !important;

                padding: 0px 20px !important;
                line-height:50px !important;
            }


            /* Submenu for latest posts, mega links, mega posts, html */
            .main .suppa_mega_posts_allposts_posts,
            .main .suppa_rwd_submenu_posts,
            .main .suppa_rwd_submenu_html,
            .main .suppa_rwd_submenu_columns_wrap {
                background-color:#0e2638;
                border-bottom: 0px solid #111111;

                /* CSS3 Gradient */
                background-image: -webkit-linear-gradient(top, transparent, transparent) ;
                background-image: -moz-linear-gradient(top, transparent, transparent) ;
                background-image: -o-linear-gradient(top, transparent, transparent) ;
                background-image: -ms-linear-gradient(top, transparent, transparent) ;
                background-image: linear-gradient(top, transparent, transparent) ;

                

                /* Padding */
                padding-top:10px !important;
                padding-bottom:10px !important;
                padding-right:0px !important;
                padding-left:10px !important;

                /* CSS3 Box Shadow */
                -moz-box-shadow   : 0px 0px 2px 1px rgba( 100,100,100,0.2);
                -webkit-box-shadow: 0px 0px 2px 1px rgba( 100,100,100,0.2);
                box-shadow        : 0px 0px 2px 1px rgba( 100,100,100,0.2);
            }


            /* Main Links */
            .main .suppa_rwd_menu > a,
            .main .suppa_rwd_submenu_mega_posts > a,
            .main .suppa_rwd_submenu > .suppa_dropdown_item_container > a {
                font-size:15px !important;
                font-family:null !important;
                font-style:normal;
                color :#c9c9c9;

                height:35px !important;
                line-height:35px !important;
                border-bottom:1px solid #2b2b2b !important;
                background-color:#0b1b26;
            }
            .main .suppa_rwd_menu > a .suppa_item_title,
            .main .suppa_rwd_submenu_mega_posts > a .suppa_item_title,
            .main .suppa_rwd_submenu > .suppa_dropdown_item_container > a .suppa_item_title{
                font-size:15px !important;
                font-family:null !important;
                font-style:normal;
                color :#c9c9c9;
            }

            .main .era_rwd_suppa_link_both_open,
            .main .suppa_rwd_menu:hover > a,
            .main .suppa_rwd_submenu_mega_posts > a:hover,
            .main .suppa_rwd_menu .suppa_dropdown_item_container a:hover {
                color :#ffffff !important;
                background-color :#153245 !important;
            }
            .main .era_rwd_suppa_link_both_open .suppa_item_title,
            .main .suppa_rwd_menu:hover > a .suppa_item_title,
            .main .suppa_rwd_submenu_mega_posts > a:hover .suppa_item_title,
            .main .suppa_rwd_menu .suppa_dropdown_item_container a:hover .suppa_item_title{
                color :#ffffff !important;
            }
            .main .suppa_rwd_menus_container{
                border-top:1px solid #2b2b2b !important;
            }

            .main .suppa_rwd_menu > a{
                padding-left:20px !important;
            }
            .main .suppa_rwd_menu_dropdown > .suppa_rwd_submenu > .suppa_dropdown_item_container > a {
                padding-left:36px !important;
            }
            .main .suppa_rwd_menu_dropdown > .suppa_rwd_submenu > .suppa_dropdown_item_container > .suppa_rwd_submenu > .suppa_dropdown_item_container > a {
                padding-left:56px !important;
            }
            .main .suppa_rwd_menu_dropdown > .suppa_rwd_submenu > .suppa_dropdown_item_container > .suppa_rwd_submenu > .suppa_dropdown_item_container > .suppa_rwd_submenu > .suppa_dropdown_item_container > a {
                padding-left:76px !important;
            }

            /* Main Links Arrows */
            .main .suppa_rwd_menu > a .era_rwd_suppa_arrow_box {
                font-size:14px !important;

                /* color/bg/border */
                color:#c9c9c9;
            }
            .main .suppa_rwd_menu:hover > a .era_rwd_suppa_arrow_box {
                color:#ffffff !important;
            }
            .main .era_rwd_suppa_arrow_both_open{
                color :#c9c9c9 !important;
                background-color:#0b1b26 !important;
            }
            .main .era_rwd_suppa_link_both_open{
                color :#ffffff !important;
                background-color :#153245 !important;
            }

            /* Search Form */
            .main .suppa_rwd_search{
                border-bottom:1px solid #2b2b2b !important;
            }
            .main .suppa_rwd_search{
                padding-top:10px !important;
                padding-bottom:10px !important;
                padding-right:0px !important;
                padding-left:10px !important;

            }
            .main .suppa_rwd_search input[type="text"]{
                background-color:#ffffff;
                height:26px;
                line-height:26px;
                color:#06456e !important;

                padding-left:5px;
                padding-right:5px;

                font-size:12;
                font-family:null;
                font-style:normal;

                -webkit-border-radius:;
                -moz-border-radius:;
                border-radius:;

                border:1px solid #0b1b26;
            }


            /* Mega Posts */
            .main .suppa_rwd_submenu_mega_posts > a {
                padding-left:40px !important;
            }


            /** ----------------------------------------------------------------
             ******** RWD Icons Style
             ---------------------------------------------------------------- **/
            .main .suppa_rwd_menu > a .ctf_suppa_fa_box,
            .main .suppa_rwd_menu .suppa_dropdown_item_container .ctf_suppa_fa_box{
                color :#c9c9c9;

            }
            .main .era_rwd_suppa_link_both_open .ctf_suppa_fa_box,
            .main .suppa_rwd_menu:hover > a .ctf_suppa_fa_box,
            .main .suppa_rwd_menu .suppa_dropdown_item_container a:hover .ctf_suppa_fa_box {
                color :#ffffff !important;
            }


            /** F.Awesome Icons **/
            .main .suppa_rwd_menu > a .suppa_FA_icon,
            .main .suppa_rwd_menu .suppa_dropdown_item_container .suppa_FA_icon
             {
                font-size:15px !important;
                padding-top: 10px !important;
                padding-right: 10px !important;
            }

            /** Uploaded Icons **/
            .main .suppa_rwd_menu > a .suppa_UP_icon,
            .main .suppa_rwd_menu .suppa_dropdown_item_container a .suppa_UP_icon
             {
                width : 14px !important;
                height : 14px !important;
                padding-top: 10px !important;
                padding-right: 10px !important;
            }

        .suppa_demo_container {
    padding:10px;
    font-size:14px;
    overflow:hidden;
}

.suppa_demo_container h3 {
    color:#ffffff;
    font-size:17px;
    margin-bottom:15px;
}

.suppa_demo_container input[type="text"],
.suppa_demo_container input[type="password"]{
    width:208px;
    padding:5px;
    margin:4px 0px;
    border:1px solid #cccccc;
    background:#ffffff;
    color:#555555;
    
}

.suppa_demo_container .suppa_demo_submit{
    margin-top:5px;
    padding:4px 12px;
    color:#555555;
    background:#ffffff;
    border:1px solid #cccccc;
    font-size:13px;
    text-decoration:none;
}