.user-spaces(){
	margin-top: @margin-top;
	padding-top: @padding-top;
	padding-bottom: @padding-bottom;
	margin-bottom: @margin-bottom;
}

.bgCustomColor() when (iscolor(@bg-color))			{ background-color: @bg-color; }
.bgCustomImage() when not (iskeyword(@bg-image))	{ background-image: @bg-image; }
.titCustomColor() when (iscolor(@titlesAltColor))	{ color: @titlesAltColor; }
.txtCustomColor() when (iscolor(@textAltColor))		{ color: @textAltColor; }
.lnkCustomColor() when (iscolor(@linkAltColor))		{ color: @linkAltColor; }

#@{el}-main 						{ .bgCustomColor();
									  .bgCustomImage();
									  background-repeat: @bg-repeat;
									  background-attachment: @bg-scroll;
									  background-position: @bg-position;
									  .user-spaces;
									  .txtCustomColor();
	p								{ .txtCustomColor(); }
	h1, h2, h3, h4, h5, h6, strong	{ .titCustomColor(); }
	a, a:hover						{ .lnkCustomColor(); }
}

.elements-sidebar-wrap #@{el}-main 	{ .user-spaces; }