{if $pagenow == 'wp-activate.php'}
        </div>
    </div>
</div>
{/if}
</div><!-- /#page -->

	<div class="footer-menu grid-main">
		{menu footer, depth => 1, items_wrap => '<ul id="%1$s" class="%2$s"><!--%3$s--></ul>'}
		<div class="btn-top">
			{__ 'Back to Top'} <i class="fa fa-chevron-up"></i>
		</div>
	</div>

	<footer id="footer" class="footer" role="contentinfo">

		{if $options->layout->general->enableWidgetAreas}
		<div class="footer-widgets">
			<div class="footer-widgets-wrap grid-main">
				<div class="footer-widgets-container">


					{foreach $wp->widgetAreas(footer) as $widgetArea}
						{* uncomment condition to hide empty widget areas completely *}
						{* {if $wp->isWidgetAreaActive($widgetArea)} *}
						<div class="widget-area {$widgetArea} widget-area-{$iterator->counter}">
							{widgetArea $widgetArea}
						</div>
						{* {/if} *}
					{/foreach}

				</div>
			</div>
		</div>
		{/if}

		<div class="site-footer">
			<div class="site-footer-wrap grid-main">
				<div class="footer-text">{!$options->theme->footer->text}</div>
			</div>
		</div>

	</footer><!-- /#footer -->

{wpFooter}

{!$options->theme->footer->customJsCode}

</body>
</html>
