/*!
 * Bootstrap v3.0.0
 *
 * Copyright 2013 Twitter, Inc
 * Licensed under the Apache License v2.0
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Designed and built with all the love in the world by @mdo and @fat.
 */


/*
http://getbootstrap.com/components/#alerts
*/

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.alert h4 {
  margin-top: 0;
  color: inherit;
}

.alert .alert-link {
  font-weight: bold;
}

.alert > p,
.alert > ul {
  margin-bottom: 0;
}

.alert > p + p {
  margin-top: 5px;
}

.alert-dismissable {
  padding-right: 35px;
}

.alert-dismissable .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-success hr {
  border-top-color: #c9e2b3;
}

.alert-success .alert-link {
  color: #356635;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-info hr {
  border-top-color: #a6e1ec;
}

.alert-info .alert-link {
  color: #2d6987;
}

.alert-warning {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #fbeed5;
}

.alert-warning hr {
  border-top-color: #f8e5be;
}

.alert-warning .alert-link {
  color: #a47e3c;
}

.alert-danger {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-danger hr {
  border-top-color: #e6c1c7;
}

.alert-danger .alert-link {
  color: #953b39;
}

.site-footer .nav-menu-container{
  width: 90% ;	
  float: left !important;
}

.site-footer .nav-menu-footer ul {
    text-align: left !important;
}

.site-footer .nav-menu-footer li:first-child {
    margin-left: 16px !important;
}

.nav-menu-main > ul {
    font-size: 15px !important;
}

.footer-widgets .widget-area-3{
    width: 25% !important;
    margin-left: 125px !important;
}    

.footer-widgets .widget-area-4 {
    width: 30% !important;
    float: right !important;
}
.suppa_menu_mega_posts .suppa_submenu {
    width: 1300px !important;
}
/*.suppa_mega_posts_allposts {
  width:200px !important;
}*/
.site-header .menu-container {
    margin-left: 0 !important;
}
.site-tools {
    padding: 0;
    text-align: left;
    width: 90%;
    float: left;
}
.site-logo {
    padding: 0;
    display: inline-block;
    width: 10%;
    float: right;
    text-align: left;
}
.site-logo img {
    width: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    float: right;
}


/*.elm-contact-form-main form p.half-size .input-row{
      margin: 0 auto;
}*/

.page-id-3453 .wpcf7-form input, textarea{
  text-align: left;

   
}

.page-id-3453 .wpcf7-form input{
   height: 40px;

}

.page-id-3453 .wpcf7-form .wpcf7-text{
  width: 50%;
  display: block;
  margin: 0 auto;
}

.page-id-3453 .wpcf7-form textarea{
  width: 49%;
  display: block;
  margin: 0 auto;
}
.page-id-3453 .wpcf7-form .wpcf7-submit{
  display: block;
  margin: 0 auto;
}

.entry-content p{
  padding-top: 10px;
}

.layout-narrow .header-container.grid-main{
  max-width: 100% !important;
}

.footer-widgets{
  display: none;
}
#elm-google-map-_efc560037-container{
  width: 1010px;
  margin-right: -43px;
      margin-top: -20px;
}


.first{
  background-color: pink;
  width: 1010px;
  margin-right: -43px;
  text-align: center;
}

.second{
  background-color: Yellow;
    width: 1010px;
    margin-right: -43px;
    text-align: center;
}


/*RESPONSIVE*/

@media (min-width: 320px) and (max-width: 480px){

.main-nav-wrap .menu-toggle{
  display: none !important;
}

.main-nav-wrap{
  width: 57px !important;
  padding-right: 238px !important;
}

.main .suppa_rwd_menus_container{
  width: 200px !important;
}

.main.suppaMenu_wrap_wide_layout{
  width: 200px;
  float: left;
}

.footer-widgets-wrap{
  display: none;
}

.site-footer .nav-menu-footer ul{
  font-size: 14px;
}

.page-id-3453 .wpcf7-form .wpcf7-text{
  width: 100%;
}
.page-id-3453 .wpcf7-form textarea{
  width: 99%;
}
.page-id-3453 .wpcf7-form .wpcf7-submit{
  margin-right: 114px;
}



  
}


@media (min-width: 767px) and (max-width: 800px){

.main-nav-wrap .menu-toggle{
  display: none !important;
}

.main-nav-wrap{
  width: 57px !important;
  padding-right: 334px !important;
}

.main .suppa_rwd_menus_container{
  width: 200px !important;
}

.main.suppaMenu_wrap_wide_layout{
  width: 200px;
  float: left;
}

.footer-widgets-wrap{
  display: none;
}

.site-header .social-icons{
  float: left !important;
}

.page-id-3453 .search-form{
  width: 50%;
  margin: 0 auto;
}

.site-footer .nav-menu-footer ul{
  font-size: 10px;
}

.page-id-3242 .sidebar-right-area .widget-container:nth-child(2n-1), .sidebar-left-area .widget-container:nth-child(2n-1){

  float: none;
  width: 50%;
  margin: 0 auto !important;
  

}


.page-id-3242 .sidebar-right-area .widget-container:nth-child(2n), .sidebar-left-area .widget-container:nth-child(2n){
 /* width: 38%;
  margin-top: 40px;
  padding-left: 60px;
*/
  display: none;

}

.page-id-3242 #calendar-8{
  display: none;
}




}


@media (min-width: 1224px) and (max-width: 1300px){
  .site-footer .nav-menu-footer ul{
      font-size: 17px;
  }



  }

