/*
 * AIT WordPress Theme
 *
 * Copyright (c) 2015, Affinity Information Technology, s.r.o. (http://ait-themes.com)
 */


body		{ .bodysize; }

h1			{ .h1size; }
h2			{ .h2size; }
h3			{ .h3size; }
h4			{ .h4size; }
h5			{ .h5size; }
h6			{ .h6size; }

small					{ .smallsize; }

blockquote 				{ .h4size; }

input					{ .largesize; }
input[type="submit"],
input[type="reset"]		{ .normalsize; }
textarea				{ .largesize; }
select					{ .normalsize; }
.sbHolder 				{ .bodysize; }
.sbHolder .sbSelector	{ .bodysize; .largesize; }
.sbHolder .sbOptions	{ .bodysize; }
.ui-datepicker						{ .bodysize; }
.ui-datepicker .ui-widget-header,
.ui-datepicker .ui-datepicker-title	{ .h6size; }
.ui-datepicker table				{ .bodysize; .largesize; }
.ui-datepicker table th				{ .bodysize; }

.site-logo a					{ .h1size; }
#masthead-clone .site-logo a	{ .menusize; }

.nav-menu-main > ul		{ .menusize; }
.nav-menu-main > ul ul	{ .decsize; }

.social-icons			{ .menusize; }

.language-icons	a		{ .bodysize; }

.page-title .page-description						{ .decsize; }
.page-title .author									{ .decsize; }
.page-title .page-share .share-text .title			{ .h5size; }
.page-title .nav-single a 							{ .decsize; }
.page-title .entry-info-panel .cat-title			{ .decsize; }
.page-title .entry-info-panel .post-categories li	{ .decsize; }
.page-title .entry-info-panel .post-excerpt			{ .decsize; }
.page-title .author-info h1							{ .h2size; }
.page-title .author-info .author-description h1:only-child	{ .h1size; }

.entry-content								{ .decsize; }
.column-grid-4 .entry-content,
.column-grid-5 .entry-content				{ .bodysize; }
.column-grid-4 .column-span-2 .entry-content { .decsize; }
.entry-content .tabstyle1 table thead th	{ .tableth; }

.ait-sc-rule-btn-top					{ .smallsize; }
.ait-sc-button .title			{ .h4size; }
.ait-sc-button .description		{ .smallsize; }

.elm-easy-slider-main ul.easy-slider li .easy-title			{ .h6size; }

.elm-portfolio .filters-wrapper 							{ .portfolioFilterSize; }
.elm-portfolio .filters-wrapper ul							{ .portfolioFilterUlSize; }
.elm-portfolio .portfolio-item .portfolio-item-desc h3 		{ .portfolioTitlSize; }
.elm-portfolio .portfolio-item .portfolio-item-desc p 		{ .cropBodySize; }

.elm-item-organizer .carousel-container .item-box					{ .bodysize; }
.elm-main.carousel-enabled .carousel-arrows .arrow					{ .decsize; }
.elm-item-organizer .item-title h3									{ .h4size; }
.elm-item-organizer .item-text p									{ .cropBodySize; }
.elm-services-main .item-title h3									{ .h3size; }
.elm-members-main .item-title h3									{ .h3size; }
.elm-events-main .layout-list .event-date .entry-date				{ .h5size; }
.elm-events-main .layout-list .event-date .entry-date .link-day 	{ .h5size; }
.elm-events-main .layout-list .event-date .entry-date .link-month 	{ .bodysize; }
.elm-testimonials-main .item .item-info .item-author				{ .h5size; }
.elm-testimonials-main .item .item-text p							{ .bodysize; }
.elm-testimonials-main .column-1 .item  .item-text p				{ .h6size; }
.elm-posts-main .layout-box .item-title	h3							{ .h3size; }
.elm-posts-main .layout-box .item .item-info .post-categories a		{ .decsize; }
.elm-posts-main .entry-date .link-month,
.elm-posts-main .entry-date .link-year								{ .decsize; }
.elm-posts-main .layout-list .item-details .item-label,			
.elm-posts-main .layout-list .item-details .item-row-value			{ .decsize; }
.elm-posts-main .layout-list .item-details .post-categories li		{ .decsize; }

.elm-item-organizer .column-4 .item-title h3						{ .h4size; }
.elm-item-organizer .column-5 .item-title h3						{ .h5size; }
.elm-item-organizer .column-5 .entry-date .link-day 				{ .bodysize; }
.elm-item-organizer .column-5 .entry-date .link-month,
.elm-item-organizer .column-5 .entry-date .link-year				{ .bodysize; }

.elements-sidebar-wrap {
	.elm-item-organizer .column-3 .item-title h3					{ .h4size; }
	.elm-item-organizer .column-4 .item-title h3,
	.elm-item-organizer .column-5 .item-title h3					{ .h5size; }
	.elm-item-organizer .column-4 .entry-date .link-day,
	.elm-item-organizer .column-5 .entry-date .link-day 			{ .bodysize; }
	.elm-item-organizer .column-4 .entry-date .link-month,
	.elm-item-organizer .column-5 .entry-date .link-month,
	.elm-item-organizer .column-4 .entry-date .link-year,
	.elm-item-organizer .column-5 .entry-date .link-year			{ .bodysize; }
}

.column-span-1 .elm-item-organizer .item-title h3					{ .h5size; }
.column-span-2 .elm-item-organizer .item-title h3					{ .h4size; }

.column {
	.elm-item-organizer .entry-date .link-day, 			
	.elm-item-organizer .entry-date .link-day 			{ .bodysize; }
	.elm-item-organizer .entry-date .link-month,
	.elm-item-organizer .entry-date .link-month,
	.elm-item-organizer .entry-date .link-year,
	.elm-item-organizer .entry-date .link-year			{ .bodysize; }
}

.elements-sidebar-wrap, .column	{
	.elm-testimonials-main .column-1 .item .item-text p				{ .bodysize; }
}

.elm-contact-form-main form textarea			{ .decsize; }

.elm-faq .faq-question .faq-q					{ .littlesize; }

.elm-toggles-main .ait-tabs ul.ait-tabs-nav li		{ .h5size; }
.elm-toggles-main .toggle-title 					{ .h5size; }
.elm-toggles-main .ait-tabs .tabs-wrapper .selected	{ .h5size; }
.local-toggles .toggle-header .toggle-title			{ .h6size; }
.local-toggles .toggle-content .toggle-container	{ .bodysize; }

.elm-price-table .table-header .table-description	{ .smallsize; }
.elm-price-table .table-header .table-price			{ .h1size; }
.elm-price-table .table-button a					{ .largesize; }

.elm-opening-hours-main .day-title h5				{ .bodysize; }
.elm-opening-hours-main .hours-note					{ .smallsize; }

.elm-counters-main .counter-description						{ .smallsize; }
.elm-counters-main .counter-type-textbox .type-text			{ .h2size; }
.elm-counters-main .counter-type-textbox .counter-title		{ .h2size; }

.elm-authors-main .item	.item-icons li { .menusize; }

.entry-date  						{ .smallsize; }
.entry-date .link-day 				{ .h2size; }

.hentry .entry-date .link-month,
.hentry .entry-date .link-year		{ .decsize; }
.hentry .author,
.hentry .categories					{ .decsize; }
.hentry .entry-content.loop			{ .bodysize; }
.search .hentry .post-categories li	{ .decsize; }
.search .hentry .item-label			{ .decsize; }

.author-info .author-description h2 { .h3size; }
#respond h3	small					{ .bodysize; }

.commentlist .comment-meta .comment-author	{ .decsize; }

.main-sections .nav-single,
.main-sections .nav-pagination		{ .decsize; }

.widget-container .widget-title h3		{ .h5size; }
.widget-container li a					{ .decsize; }

.widget_posts h4						{ .h5size; }
.widget_posts .date						{ .smallsize; }
.widget_posts p							{ .smallsize; }
.widget_posts .read-more				{ .smallsize; }
.widget_calendar table 					{ .calTableSize; }
.widget_calendar caption				{ .decsize; }
.widget_recent_entries .post-date		{ .smallsize; }
.widget_rss	.rss-date					{ .smallsize; }
.widget_rss .rssSummary					{ .smallsize; }
.widget_rss cite						{ .smallsize; }
.widget_categories,
.widget_archive,
.widget_tag_cloud	{ li, .tagcloud a	{ .widgetsButtonSize; } } 	/*** for button layout - optional ***/

.site-search label .screen-reader-text	{ .searchLabelSize; }
.site-search input.search-field			{ .searchSize; }
.widget_search input.search-field		{ .searchSize; }

.widget_categories, .widget_archive, .widget_tag_cloud
{
	li a { .bodysize; }
}

.widget-entry-views .entry-view-count	{ .smallsize; }

.frontend-notification					{ .decsize; }

/* Woocommerce */

.star-rating										{ .wooStars; }
ul.products li a .price								{ .h3size; }
ul.products li a .price del							{ .bodysize; }
ul.products li a.product_type_variable				{ .bodysize; }
.widget_price_filter .price_label                   { .decsize; }
body.woocommerce .button, .woocommerce .button		{ .decsize; }

body.woocommerce-cart, .woocommerce {

	.shop_table.cart tbody td.product-name > a		{ .h5size; }
	.shop_table.cart tbody td.product-remove a		{ .wooProductRemove; }
	.shop_table.cart { td, th 						{  }}
	.cart-collaterals .cart_totals h2,
	.cart-collaterals .shipping_calculator h2 		{  }

}

body.woocommerce, .woocommerce {

	div.product .price ins						{ .h2size; }
	ul.products li a h3							{ .h5size; }
	div.product.hentry .summary .product_title 	{ .h3size; }

	div.product{

		.summary .price									{ .h4size; }
	}
}

body.woocommerce-page ul.products li a h3 							{ .h5size; }
body.woocommerce-page div.product.hentry .summary .product_title 	{ .h3size; }
// body.woocommerce-page div.product.hentry .price,
// .woocommerce div.product.hentry .price 				{ .h3size; }


.widget_top_rated_products,
.widget_recent_products,
.widget_recently_viewed_products,
.widget_random_products,
.widget_onsale,
.widget_recent_reviews,
.widget_best_sellers
{
	.product_list_widget li a							{ .h6size; }
	.product_list_widget li del .amount,
	.product_list_widget li .amount						{ .h5size; }
	.product_list_widget li .star-rating				{ .wooStars; }
}

.widget_product_tag_cloud .tagcloud a,
.widget_product_tag_cloud li,
.widget_layered_nav .tagcloud a,
.widget_layered_nav li,
.widget_product_categories .tagcloud a,
.widget_product_categories li							{ .smallsize; }

.wooButton												{ .decsize; }

// ul.products li a .price span.from,
// body.woocommerce-page div.product.hentry .price del,
// ul.products li a .price del         					{ .decsize; }

.pp_woocommerce .comment-respond .stars a:after,
.pp_woocommerce .comment-respond .stars a:before    	{ .starSize; }

/* End Woocommerce */