/*
 * AIT WordPress Theme
 *
 * Copyright (c) 2013, Affinity Information Technology, s.r.o. (http://ait-themes.com)
 */



/**************************************************/
/*** && FUNCTIONS                               ***/
/**************************************************/

.clearfix		{ content: "."; display: block; height: 0; overflow:hidden; clear: both; visibility: hidden; }
.borderbox		{ -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.boxshadow0		{ -moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.5); -webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.5); box-shadow: 0px 0px 5px rgba(0,0,0,0.5); }
.boxshadow1		{ -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1); }
.rounded		{ -moz-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%; }
.text-overflow	{ white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }


.transition(@args) 		{ -moz-transition: @args;
  						  -webkit-transition: @args;
						  transition: @args; }

.timing(@time)			{ -webkit-transition-timing-function: @time;
						  transition-timing-function: @time; }


.rotate(@deg) 			{ -moz-transform: 		rotate(@deg);
						  -webkit-transform: 	rotate(@deg);
						  -ms-transform: 		rotate(@deg);
						  transform: 			rotate(@deg); }

.scale(@factor) 		{ -moz-transform:       scale(@factor);
						  -webkit-transform:    scale(@factor);
						  -ms-transform:        scale(@factor);
						  transform:            scale(@factor); }

.translate(@pos) 		{ -moz-transform:       translate(@pos);
						  -webkit-transform:    translate(@pos);
						  -ms-transform:        translate(@pos);
						  transform:            translate(@pos); }

.skewX(@args) 			{ -moz-transform:       skewX(@args);
						  -webkit-transform:    skewX(@args);
						  -ms-transform:        skewX(@args);
						  transform:            skewX(@args); }

.border-radius(@args) 	{ -moz-border-radius: @args;
  						  -webkit-border-radius: @args;
						  border-radius: @args; }

.box-shadow(@args) 		{ -moz-box-shadow: @args;
  						  -webkit-box-shadow: @args;
						  box-shadow: @args; }

.slideMenu		{	/* Navigation - CSS effect */
					li > ul 			{ opacity: 0; .transition(opacity 0.7s); overflow: hidden; }
  					li.menu-item-column > ul { opacity: 1; overflow: visible; height:auto; }
					li:hover > ul		{ opacity: 1;  }
					li:hover > ul:hover	{ overflow: visible; }
					li > ul > li		{ margin-top: -500px; .transition(margin-top 0.3s ease-in-out 0s); }
				}

.slideMenuOff	{	/* Navigation - CSS effect */
					li > ul 			{ opacity: 1; overflow: visible; }
					li > ul > li		{ margin-top: 0px; }
				}

.fadeMenu		{	/* Navigation - CSS effect */
					li > ul 			{ opacity: 0; .transition(opacity 0.5s); overflow: hidden; height: 0px; }
					li.menu-item-column > ul { opacity: 1; overflow: visible; height:auto; }
					li:hover > ul		{ opacity: 1; height: auto; }
					li:hover > ul:hover	{ overflow: visible;  }
				}

.fadeMenuOff	{	/* Navigation - CSS effect */
					li > ul 			{ opacity: 1; overflow: visible; height: auto; }
				}

.hvrIcon(@icoImg, @insideClass)
{
	(~"@{insideClass}")					{ display: inline-block; line-height: 0px; max-width: 100%; position: relative; vertical-align: top; }
	(~"@{insideClass}:before")			{ content: ""; display: block; width: 60px; height: 60px; .rounded; background: url('@{imgUrl}/@{icoImg}') center center no-repeat; position: absolute; top: 10px; left: 10px; z-index: 10; opacity: 0; }
	(~"&:hover @{insideClass}:before")	{ opacity: 1; }
	(~"@{insideClass} img")				{ opacity: 1; .transition(all 0.5s); vertical-align: top; }
	(~"&:hover @{insideClass} img")		{ opacity: 1; }
}

.hvrIconFull(@icoImg, @insideClass)
{
	(~"@{insideClass}")					{ display: inline-block; line-height: 0px; max-width: 100%; position: relative; vertical-align: top; }
	(~"@{insideClass}:before")			{ content: ""; display: block; background: url('@{imgUrl}/@{icoImg}') center center no-repeat rgba(0,0,0,0.25); position: absolute; top: 0px; left: 0px; right: 0px; bottom: 0px; z-index: 10; opacity: 0; }
	(~"&:hover @{insideClass}:before")	{ opacity: 1; }
	(~"@{insideClass} img")				{ vertical-align: top; }
}

.unselectable	{ -moz-user-select: none; -webkit-user-select: none; -ms-user-select: none; user-select: none; }

.search-style{
	form.search-form,
	form#searchform{

		padding: 0; height: 30px; width: 100%; border: solid 1px @theme-general-linesColor; overflow: hidden; background: @theme-general-pageBgColor;

		div							{ padding-right: 32px; position: relative; }
		label						{ display: block; padding: 0px 5px; }
		input#s						{ margin: 0 5px; -webkit-appearance: textfield; box-shadow: none !important;}
		.screen-reader-text			{ display: none; }
		input.search-field,
		input						{ height: 30px; line-height: 30px; background: #ffffff; border: none; .borderbox; padding: 0px; font-style: italic; margin: 0; width: 100%; .border-radius(0); }
		input.search-field			{ -webkit-appearance: textfield; }
		input.search-submit,
		input#searchsubmit			{ width: 30px;height: 20px; padding: 0px; margin-top: 5px; border: none; border-left: solid 1px @theme-general-linesColor; font-size: 0px; line-height: 0px; text-indent: -9999px; background: transparent url('@{imgUrl}/ico_search_button.png') no-repeat; background-position: center center; position: absolute; top: 0px; right: 0px; cursor: pointer; }
	}
}

.wooButton {
	.font(700);
	color: #ffffff;
	background: @theme-general-decColor;
	padding: 8px 15px 8px;
	text-align: center;
	border: none;
	-webkit-appearance: textfield; 
}

.wooBorderImage	{ display: inline-block; padding: 5px; background: @theme-general-pageBgColor; border: solid 1px @theme-general-linesColor; }
.wooQtyForm{
	& { float: left; }
	.minus, .plus, .qty.text {  .borderbox; display: inline; width: 35px; height: 35px; padding: 0; vertical-align: middle; border: solid 1px darken(@theme-general-linesColor, 5%);box-shadow: none; -webkit-appearance: textfield;  }
	.minus,	.plus   { .font(400); font-size: 15px; color: darken(@theme-general-linesColor, 25%); background: lighten(@theme-general-linesColor, 7%); cursor: pointer; }
	.qty.text		{ /*border-width: 1px 0;*/ background: #fff; text-align: center; }
	.qty.text::-webkit-outer-spin-button,
	.qty.text::-webkit-inner-spin-button				{ -webkit-appearance: none; margin: 0; }
}

.resetUlBullet{

	ul,
	&{
		list-style-type: none; margin-bottom: 0;
		li{ padding: 0; position: relative; .resetBorderbox;}
		li:before{ content: ""; width: auto; height: auto; background: none; .border-radius(0); position: relative; display: none; }
	}

}

input#s { margin: 0 5px; -webkit-appearance: textfield; }

/* && end of FUNCTIONS */
