
#tpbr_topbar #tpbr_box{
	font-size: 25px !important;
    font-family: null !important;
    font-style: normal;
    text-align: left !important;

}

.widget-container .widget-title h3{
	text-align: left;
}

.footer_social_icons{
	font-size: 16px;
    line-height: 25px;
}

.footer_social_icons li, .footer_social_icons{
	display: inline-block;
}

.footer_social_icons .iconFont{
	padding: 5px;
}


.site-footer .nav-menu-container {
    width: 75% !important;
}

.search-form {
	display: inline-block;
	padding: 5px;
}

.main .suppa_mega_posts_allposts .suppa_mega_posts_post_article img{
	width: 150px !important;
    height: 100px !important;
}

.main .suppa_mega_posts_post_article div.suppa_post_link_container{
	width: 150px !important;
    float: left;

}
.site-logo{
	width: 8% !important;
}
.sticky-menu.menu-container{
	display: none;
}

.social-icons .fa{
	color: #FFFFFF;
}
.social-icons ul .fa-facebook:hover{
	color: #3b5998;
	cursor: pointer;
}

.social-icons ul .fa-google-plus:hover{
	color: #dd4b39;
	cursor: pointer;
}

.social-icons ul .fa-youtube:hover{
	color: #bb0000;
	cursor: pointer;
}


.social-icons ul .fa-instagram:hover{
	color: #125688;
	cursor: pointer;
}

.footer_social_icons ul .fa-facebook:hover{
	color: #3b5998;
	cursor: pointer;
}

.footer_social_icons ul .fa-google-plus:hover{
	color: #dd4b39;
	cursor: pointer;

}

.footer_social_icons ul .fa-youtube:hover{
	color: #bb0000;
	cursor: pointer;
}

.footer_social_icons ul .fa-instagram:hover{
	color: #125688;
	cursor: pointer;
}

.entry-date{
	background: #509bb4 !important;
}

.widget-container .widget-title h3:before{
	background: #509bb4 !important;
}
input[type="submit"]{
	background: #509bb4 !important;
}

.page-title .entry-info{
	position: static !important;
    height: 400px !important;
    width: 100% !important;
}

.page-title .entry-thumbnail{
	width: 100% !important;
}

.read-more{
	color: #509bb4 !important;
}

@media (min-width: 320px) and (max-width: 767px){
.suppa_rwd_menus_container img{
	display: none;
}

}

.page-title .entry-title{
	height: 65px;
}
.page-title .page-share{
	padding: 0px 0 20px 40px !important;
}

.layout-narrow .page-container{
	    margin-top: 452px !important;
}
