#map, #map_wrap {
    height: 100%;
    width:100%;
}
.siderbarmap {
    direction: ltr;
}
.layout-narrow .header-container.grid-main {
    background: #0B1B26;
}
div#tpbr_topbar {
    background: #0B1B26 !important;
}