
/**************************************************/
/*** && Font Mixins                             ***/
/**************************************************/


.font(@weight, @style = normal){
	font-family: @theme-typography-titleFont-family;
	font-weight: @weight;
	font-style: @style;
}

.fontTXT(@weight, @style = normal){
	font-family: @theme-typography-mainFont-family;
	font-weight: @weight;
	font-style: @style;
}

.fontface1(@type) when (@type = theme){

	@font-face {
		font-family: 'Titillium Web';
		src: url('@{fonts-url}/titilliumweb/titilliumweb-regular.eot');
		src: url('@{fonts-url}/titilliumweb/titilliumweb-regular.eot?#iefix') format('embedded-opentype'),
			 url('@{fonts-url}/titilliumweb/titilliumweb-regular.woff') format('woff'),
			 url('@{fonts-url}/titilliumweb/titilliumweb-regular.ttf') format('truetype'),
			 url('@{fonts-url}/titilliumweb/titilliumweb-regular.svg#TitilliumWebRegular') format('svg');
		font-weight: 400;
		font-style: normal;
	}

	@font-face {
		font-family: 'Titillium Web';
		src: url('@{fonts-url}/titilliumweb/titilliumweb-bold.eot');
		src: url('@{fonts-url}/titilliumweb/titilliumweb-bold.eot?#iefix') format('embedded-opentype'),
			 url('@{fonts-url}/titilliumweb/titilliumweb-bold.woff') format('woff'),
			 url('@{fonts-url}/titilliumweb/titilliumweb-bold.ttf') format('truetype'),
			 url('@{fonts-url}/titilliumweb/titilliumweb-bold.svg#TitilliumWebBold') format('svg');
		font-weight: 700;
		font-style: normal;
	}

	@font-face {
		font-family: 'Titillium Web';
		src: url('@{fonts-url}/titilliumweb/titilliumweb-semibold.eot');
		src: url('@{fonts-url}/titilliumweb/titilliumweb-semibold.eot?#iefix') format('embedded-opentype'),
			 url('@{fonts-url}/titilliumweb/titilliumweb-semibold.woff') format('woff'),
			 url('@{fonts-url}/titilliumweb/titilliumweb-semibold.ttf') format('truetype'),
			 url('@{fonts-url}/titilliumweb/titilliumweb-semibold.svg#TitilliumWebSemibold') format('svg');
		font-weight: 600;
		font-style: normal;
	}

	@font-face {
		font-family: 'Titillium Web';
		src: url('@{fonts-url}/titilliumweb/titilliumweb-black.eot');
		src: url('@{fonts-url}/titilliumweb/titilliumweb-black.eot?#iefix') format('embedded-opentype'),
			 url('@{fonts-url}/titilliumweb/titilliumweb-black.woff') format('woff'),
			 url('@{fonts-url}/titilliumweb/titilliumweb-black.ttf') format('truetype'),
			 url('@{fonts-url}/titilliumweb/titilliumweb-black.svg#TitilliumWebBlack') format('svg');
		font-weight: 900;
		font-style: normal;
	}

	@font-face {
		font-family: 'Titillium Web';
		src: url('@{fonts-url}/titilliumweb/titilliumweb-italic.eot');
		src: url('@{fonts-url}/titilliumweb/titilliumweb-italic.eot?#iefix') format('embedded-opentype'),
			 url('@{fonts-url}/titilliumweb/titilliumweb-italic.woff') format('woff'),
			 url('@{fonts-url}/titilliumweb/titilliumweb-italic.ttf') format('truetype'),
			 url('@{fonts-url}/titilliumweb/titilliumweb-italic.svg#TitilliumWebItalic') format('svg');
		font-weight: 400;
		font-style: italic;
	}

}


.fontface2(@type) when (@type = theme){

	@font-face {
	    font-family: 'Open Sans';
	    src: url('@{fonts-url}/opensans/opensans-light.eot');
	    src: url('@{fonts-url}/opensans/opensans-light.eot?#iefix') format('embedded-opentype'),
	         url('@{fonts-url}/opensans/opensans-light.woff') format('woff'),
	         url('@{fonts-url}/opensans/opensans-light.ttf') format('truetype'),
	         url('@{fonts-url}/opensans/opensans-light.svg#OpenSansRegular') format('svg');
	    font-weight: 300;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'Open Sans';
	    src: url('@{fonts-url}/opensans/opensans-regular.eot');
	    src: url('@{fonts-url}/opensans/opensans-regular.eot?#iefix') format('embedded-opentype'),
	         url('@{fonts-url}/opensans/opensans-regular.woff') format('woff'),
	         url('@{fonts-url}/opensans/opensans-regular.ttf') format('truetype'),
	         url('@{fonts-url}/opensans/opensans-regular.svg#OpenSansRegular') format('svg');
	    font-weight: 400;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'Open Sans';
	    src: url('@{fonts-url}/opensans/opensans-bold.eot');
	    src: url('@{fonts-url}/opensans/opensans-bold.eot?#iefix') format('embedded-opentype'),
	         url('@{fonts-url}/opensans/opensans-bold.woff') format('woff'),
	         url('@{fonts-url}/opensans/opensans-bold.ttf') format('truetype'),
	         url('@{fonts-url}/opensans/opensans-bold.svg#OpenSansBold') format('svg');
	    font-weight: 700;
	    font-style: normal;
	}

	@font-face {
	    font-family: 'Open Sans';
	    src: url('@{fonts-url}/opensans/opensans-italic.eot');
	    src: url('@{fonts-url}/opensans/opensans-italic.eot?#iefix') format('embedded-opentype'),
	         url('@{fonts-url}/opensans/opensans-italic.woff') format('woff'),
	         url('@{fonts-url}/opensans/opensans-italic.ttf') format('truetype'),
	         url('@{fonts-url}/opensans/opensans-italic.svg#OpenSansRegular') format('svg');
	    font-weight: 400;
	    font-style: italic;
	}

}





/**************************************************/
/*** && Fonts definitions                       ***/
/**************************************************/

.fontface1(@theme-typography-titleFont-type);
.fontface2(@theme-typography-mainFont-type);


.lang-@{current-lang}{

	body					{ .fontTXT(400); }
	strong					{ font-weight: bold; }
	a.post-edit-link,
	a.comment-edit-link,
	a.comment-reply-link	{ .fontTXT(700); }

	h1		{ .font(400); }
	h2		{ .font(700); }
	h3		{ .font(700); }
	h4		{ .font(700); }
	h5		{ .font(700); }
	h6		{ .font(700); }

	/*h1, h2, h3, h4, h5, h6
	{
		strong		{ font-weight: normal; }
	}*/

	blockquote 							{ .fontTXT(400,italic); }

	input, textarea, select				{ .fontTXT(400); }
	input[type="submit"],
	input[type="reset"]					{ .font(700); }

	input[type="text"],
	input[type="mail"],
	input[type="password"],
	input[type="search"],
	select,
	.sbHolder .sbSelector,
	.sbHolder .sbOptions li				{ .fontTXT(400); }

	.ui-datepicker									{ .fontTXT(400); }
	.ui-datepicker .ui-widget-header				{ .font(700); }
	.ui-datepicker table th							{ .fontTXT(700); }
	.ui-datepicker table td a.ui-state-default		{ .fontTXT(400); }

	.site-logo a,
	.site-logo a:hover		{ .font(700); }

	.page-share .share.share-title			{ .font(700); }

	.site-search label .screen-reader-text	{ .fontTXT(700); }

	.nav-menu-main > ul > li > a			{ .font(600); }
	.menu-item-column-label 				{ .font(700); }

	.language-icons a						{ .font(700); }

	.page-title .author						{ .font(400); }
	.page-title .author-info h1				{ .font(700); }
	.page-title .author-info .author-description h1:only-child	{ .font(400); }
	.page-title .page-share .share-text		{ .font(700); }
	.entry-info > *							{ .font(700); }

	.page-title .entry-info-panel .categories	{ .font(700); }

	.breadcrumb-sep 						{ .fontTXT(300); }

	.search-form .search-field 				{ .font(400); }

	.entry-content table thead th				{ .fontTXT(700); }
	.entry-content table tbody th				{ .fontTXT(700); }
	.entry-content .tabstyle1 table thead th	{ .font(700); }

	/* SHORTCODES */

	.wp-caption .wp-caption-text	{ .fontTXT(400,italic); }
	.ait-sc-button .title			{ .font(700); }

	/* ELEMENTS */

	.elm-maintitle					{ .font(400); }

	.elm-easy-slider-main .bx-wrapper li .bx-caption .bx-caption-desc span.bx-link-button	{ .font(700); }
	.elm-easy-slider-main ul.easy-slider li .easy-title										{ .font(700); }

	.elm-portfolio .filters-wrapper .filter-wrapper .selected			{ .font(700); }

	.elm-services-main .rm-button										{ .font(700); }
	.elm-posts-main .item-info											{ .font(700); }
	.elm-posts-main .item-more											{ .font(700); }
	.elm-posts-main .item-date											{ .font(700); }
	.elm-posts-main .layout-box .item-author-name 						{ .font(700); }
	.elm-posts-main .layout-list .item-details .item-label				{ .font(700); }
	.elm-posts-main .layout-list .item-details .item-row-value			{ .fontTXT(600); }

	.elm-item-organizer .column-4 .item-title h3						{ .font(600); }
	.elm-item-organizer .column-5 .item-title h3						{ .font(400); }

	.elements-sidebar-wrap {
		.elm-item-organizer .column-3 .item-title h3					{ .font(600); }
		.elm-item-organizer .column-4 .item-title h3,
		.elm-item-organizer .column-5 .item-title h3					{ .font(400); }
	}

	.column-span-2 .elm-item-organizer .item-title h3					{ .font(600); }
	.column-span-1 .elm-item-organizer .item-title h3					{ .font(400); }

	.elm-events-main .item-info											{ .font(700); }
	.elm-events-main .item-info strong									{ font-weight: normal; }
	.elm-events-main .layout-list .event-date .entry-date .link-month   { .font(700); }
	.elm-job-offers-main .item-duration									{ .font(700); }
	.elm-job-offers-main .item-duration strong							{ font-weight: normal; }
	.elm-job-offers-main .job-contact									{ .font(700); }
	.elm-job-offers-main .job-contact strong							{ font-weight: normal; }
	.elm-testimonials-main .item-text									{ .fontTXT(400,italic); }
	.elm-testimonials-main .item .item-info .item-author				{ .font(700); }

	.elm-toggles-main .ait-tabs ul.ait-tabs-nav li a					{ .font(700); }
	.elm-toggles-main .ait-tabs-vertical li .ait-tab-hover				{ .font(700); }
	.elm-toggles-main .ait-tabs .tabs-wrapper .selected					{ .font(700); }
	.local-toggles .toggle-content .toggle-container					{ .fontTXT(400); }

	.elm-price-table .table-header .table-price							{ .font(400); }
	.elm-price-table .table-button a									{ .font(700); }

	.elm-opening-hours-main .day-title h5								{ .fontTXT(700); }
	.elm-countdown-main .clock-data	.clock-value						{ .font(700); }
	.elm-counters-main .counter-title									{ .font(700); }
	.elm-counters-main .counter-type-textbox .type-text					{ .font(700); }
	.elm-member-main .member-title .member-position-title				{ .fontTXT(700); }
	.elm-google-map	 .gmap-infowindow-content h3						{ .font(600); }
	.elm-google-map	 .gmap-infowindow-content p							{ .fontTXT(400); }
	.elm-contact-form-main form p .input-row .input-label .label		{ .font(700); }

	.elm-twitter-main ul.twitter li .twitter-text a 					{ .fontTXT(600); }
	.elm-twitter-main ul.twitter li .twitter-timestamp a				{ .font(700); }

	.elm-main.carousel-enabled .carousel-arrows .arrow					{ .font(700); }

	.gallery .gallery-caption											{ .fontTXT(400,italic);}

	/* BLOG */

	.entry-date .link-day,
	.entry-date .link-month,
	.entry-date .link-year,
	.entry-data 						{ .font(700); }
	.hentry .more						{ .font(400); }
	.comments-link .comments-count		{ .fontTXT(700); }
	.hentry.sticky .featured-post		{ .fontTXT(700); }
	.commentlist .comment-meta .fn		{ .fontTXT(700); }
	#respond h3	small					{ .fontTXT(700); }
	#respond form label					{ .font(700); }
	#respond form label .required		{ .font(700); }
	#respond form input[type="submit"]	{ .font(700); }
	.tags-title							{ .font(700); }
	.search .hentry .item-label			{ .font(700); }
	.search .hentry .item-row-value		{ .fontTXT(600); }

	.nav-single							{ .font(700); }
	.main-sections .nav-single,
	.main-sections .nav-pagination		{ .font(600); }

	.tags-links a						{ .fontTXT(600); }

	/* WIDGETS */

	.widget-container li a				{ .font(600); }

	.widget_posts a.thumb-link h4					{ .font(400); }
	.widget_posts a.thumb-link .date				{ .fontTXT(600); }
	.widget_posts a.read-more						{ .fontTXT(600); }
	.widget_calendar th								{ .fontTXT(700); }
	.widget_calendar tbody td#today					{ .fontTXT(700); }
	.widget_calendar tbody td a						{ .fontTXT(700); }
	.widget_rss	.widget-content a.rsswidget			{ .fontTXT(700); }
	.widget_posts .read-more a						{ .fontTXT(700); }
	.widget_calendar caption						{ .font(700); }
	.widget_recent_comments .comment-author-link	{ .font(700); }

	.widget_login .profile a						{ .font(400); }
	.widget_login .userlogin-tabs-menu a			{ .fontTXT(700); }
	.widget_login a.widgetlogin-button-blog			{ .font(700); }
	.widget_login a.widgetlogin-button-items		{ .font(700); }

	/* FOOTER */

	.site-footer .nav-menu-footer a	{ .font(700); }
	.footer-menu .nav-menu-footer a { .font(700); }
	.footer-menu .btn-top			{ .font(700); }
	
	/* woocommerce */
	
	body.woocommerce, body.woocommerce-page, .woocommerce{
		ul.products li a  span.onsale				{ .font(400); }
		ul.products li a h3						{ .font(400); }
		ul.products li a.product_type_variable 		{.font(400);}
		ul.products li a .price .amount				{ .font(400); }

			div.product{
			.summary .product_title						{ .font(400); }
			.summary .price								{ .font(400); }
			.summary .cart .single_add_to_cart_button	{ .font(700); }
			.summary .variations_form .variations label	{ .font(400); font-weight: normal; }
			.woocommerce-tabs .tabs	li a				{ .font(400); }
			#review_form_wrapper .comment-respond .stars a	{ .font(400); }
			nav.woocommerce-pagination ul li span		{ .fontTXT(normal); font-weight: bold; }
			.woocommerce-tabs #tab-reviews .commentlist li.comment .comment-text .meta strong { font-weight: bold; }

			.woocommerce-message				{.font(400);}
			.woocommerce-message:before			{ font-weight: normal; }
			.woocommerce-info					{.font(400);}
			.woocommerce-info:before			{ font-weight: normal; }
			.woocommerce-error					{.font(400);}
			.woocommerce-error:before			{ font-weight: normal; }

			}
		}
	body.woocommerce-cart{
			.shop_table.cart th								{ .font(700); }
			.cart-collaterals .shipping_calculator h2  		{ .fontTXT(normal)}
			.cart-collaterals .cart_totals th				{ font-weight: normal; }
			.cart-collaterals .cart_totals tr:last-child {td,th,		{ font-weight: bold; }}
			.shop_table.cart tbody td.product-remove a		{ font-weight: bold; }
			.shop_table.cart tbody td.product-subtotal .price  { font-weight: bold; }
			.shop_table.cart tbody td.product-subtotal .price .amount { font-weight: normal; }
			.shop_table.cart tbody td.product-name .variation dt { font-weight: bold; }

			
		}
	
	.woocommerce .login, .woocommerce .checkout_coupon {

		.button		{ .font(700); }
	}

	#order_review .cart-subtotal { th, td 						{ font-weight: bold;}}
	.methods.payment_methods li label 								{ font-weight: bold; }
	.elm-comments-main .comments-title	{ .font(400); }


	.widget_price_filter .price_slider_amount .price_label,
	.widget_revslider .widget-title							{ .font(400);}
	.widget_top_rated_products,
	.widget_recent_products,
	.widget_recently_viewed_products,
	.widget_random_products,
	.widget_onsale,
	.widget_recent_reviews,
	.widget_layered_nav_filters,
	.widget_best_sellers,
	.widget_products
	{
		.product_list_widget li	a,
		 li.chosen 	a		{ .font(400);}
	}	

}




