
@import "../../../@common/common.less";

.itemBg() when (@itemBackground = disable)		{ padding: 0 !important; background: none; }
.thumbBorder() when (@itemBackground = disable)	{ border-color: rgba(0,0,0,0.15); padding: 2px; }
.thumbHover() when (@itemBackground = disable)	{ top: 2px; left: 2px; right: 2px; bottom: 2px; }

#@{el}{

.item,
.item:hover					{ .itemBg(); }
	
.item .item-thumbnail		{ .thumbBorder(); }
.item .item-thumbnail:after	{ .thumbHover(); }

}

.@{el}{
	clear:both;
}
