
@import "../../../@common/common.less";

.customSize() when (isnumber(@customWidth))			{ max-width: @customWidth; margin-left: auto; margin-right: auto; }

#@{el}-main 						
{ 							  
	.elm-wrapper					{ .customSize(); }
}

.elements-sidebar-wrap #@{el}-main 	
{
	.elm-wrapper					{ .customSize(); } 
}

#@{el}{

}

.@{el}{
	clear:both;
}