/*@import "../../../@common/common.less";*/

.user-spaces(){
	margin-top: @margin-top;
	padding-top: @padding-top;
	padding-bottom: @padding-bottom;
	margin-bottom: @margin-bottom;
}

.bgCustomColor() when (iscolor(@bg-color))			{ background-color: @bg-color; }
.bgCustomImage() when not (@bg-image = url())		{ background-image: @bg-image; }
.titCustomColor() when (iscolor(@titlesAltColor))	{ color: @titlesAltColor; }
.txtCustomColor() when (iscolor(@textAltColor))		{ color: @textAltColor; }
.lnkCustomColor() when (iscolor(@linkAltColor))		{ color: @linkAltColor; }

#@{el}-main 						{ .bgCustomColor();
									  .bgCustomImage();
									  background-image: @bg-image;
									  background-repeat: @bg-repeat;
									  background-attachment: @bg-scroll;
									  background-position: @bg-position;
									  .user-spaces;
									  .txtCustomColor();
	
	.layout-box .item .item-thumbnail .thumbnail	{ height: @boxImageHeight; background-size: cover; background-position: center; }
	
	.elm-mainheader {
		p								{ .txtCustomColor(); }
		h1, h2, h3, h4, h5, h6, strong	{ .titCustomColor(); }			
	}
	a, a:hover							{ .lnkCustomColor(); }									  
}

.elements-sidebar-wrap #@{el}-main 	{ .user-spaces; }

.itemBgColor() when (iscolor(@itemBgColor))				{ background-color: @itemBgColor; }
.itemTitleColor() when (iscolor(@itemTitleColor))		{ color: @itemTitleColor; }
.itemTextColor() when (iscolor(@itemTextColor))			{ color: @itemTextColor; }


#@{el}{
		
	.layout-list .item-container					{ .itemBgColor(); }
	
	.layout-box .item-title,
	.layout-box .item								{ .itemBgColor(); }
	.item-title h3,
	.item-title h3 a 								{ .itemTitleColor(); }
	.item-text p									{ .itemTextColor(); }
	
}


.@{el}{

	clear:both;
}
