#map, #map_wrap {
    height: 800px;
    width:100%;
}
.siderbarmap {
    direction: ltr;
}
.layout-narrow .header-container.grid-main {
    background: #0B1B26;
}
div#tpbr_topbar {
    background: #0B1B26 !important;
}

.page-title .entry-thumbnail{
	width: 100% !important;
}

.page-title .entry-info-panel{
	width: 0px !important;
	height: 400px;
}
.header-container.grid-main {
    max-width: 100% !important;
    padding: 0 !important;
}
.site-logo img {
    height: 50px;
    width: 250px;
}
.sticky-menu .site-logo img {
    display: none;
}
.suppa_menu:first-of-type a.suppa_top_level_link.suppa_menu_position_left.suppa_top_links_has_arrow  span.suppa_item_title {
    margin-left: 250px;
}
.site-header .menu-container {
    margin-left: 0;
}
.site-tools {
    position: absolute;
    width: 100%;
    z-index: 0;
}
.site-header {
    height: 50px;
    background: white;
}
.widget_social ul.no-titles {
    display: block;
    margin: 0 auto;
    width: 200px;
}
.main .suppa_mega_posts_allposts_posts{
    display: inline-block;
    width: 200px;
}
.sidebar-right-area h3 {
    text-align: center;
    margin-bottom: 2px;
}
.sidebackarea{
    background:white;
}
.layout-narrow .sidebar-left-area:before, .layout-narrow .sidebar-right-area:before {
    background: white;
}
.site-footer {
    color: #FFFFFF;
    background: #488BAB;
}
.awesome-weather-header {
    background: rgb(72, 139, 171);
}
.awesome-weather-wrap.temp5 {
    background: #4F9ABD;
}
.home{
    background: rgba(221, 221, 221, 0.3);
}