{include $element->common('header')}

<div id="{$htmlId}" class="{$htmlClass}">
	{if $el->option(type) == 'youtube'}
		{var $parse = parse_url($el->option(link))}
		{ifset $parse['query']}
            {!= parse_str($parse['query'], $query)}
            {var $clipId = $query['v']}
            <iframe src="https://www.youtube.com/embed/{$clipId}?wmode=opaque" {if $el->option(width) == ""}style="width: 100%"{else}width="{$el->option(width)}"{/if} height="{$el->option(height)}"></iframe>
		{/ifset}
	{else}
		{var $clipId = trim(str_replace("vimeo.com", "", str_replace("/", "" ,str_replace("http:", "", $el->option(link)))))}
		<iframe src="https://player.vimeo.com/video/{$clipId}?title=0&amp;byline=0&amp;portrait=0" {if $el->option(width) == ""}style="width: 100%"{else}width="{$el->option(width)}"{/if} height="{$el->option(height)}"></iframe>
	{/if}

</div>

{includePart "ait-theme/elements/video/javascript"}
