/*
 * AIT WordPress Theme
 *
 * Copyright (c) 2014, Affinity Information Technology, s.r.o. (http://ait-themes.com)
 */


/* Users Profile Settings */

.user-description-wrap 															{ display: none; }
.ait-ait-user-metabox-tabs-panel .ait-options-section							{ padding: 0; }
.ait-ait-user-metabox-tabs-panel .ait-opt-container .ait-opt-label .ait-label	{ color: #000000; font-size: 14px; }

